https://mcbride-martin.medium.com/function-objects-and-lambdas-812f2088214f

In [1]:
def square(x):
    return x*x

print(type(square))

<class 'function'>

In [2]:
sq = square
x = sq(2)
print(x)

4

In [3]:
names = [ ('John', 'Smith'),
          ('Anne', 'Jones'),
          ('Robert', 'Davis')]

def print_names(names, formatter):
    for name in names:
        print(formatter(name))

def format_space(name):
    return ' '.join(name)

print_names(names, format_space)

John Smith
Anne Jones
Robert Davis

In [4]:
def format_initial(name):
    return f"{name[1]}, {name[0][0]}"

In [5]:
print_names(names, format_initial)

Smith, J
Jones, A
Davis, R

In [6]:
def format_email(name):
        return f"{name[0]}.{name[1]}@example.com"

In [7]:
print_names(names, format_email)

John.Smith@example.com
Anne.Jones@example.com
Robert.Davis@example.com

In [8]:
def square(x):
    return x*x

numbers = [1, 3, 5, 7]

result = map(square, numbers)
print(list(result))

[1, 9, 25, 49]

In [9]:
def twice(f):
    def g(x):
        return f(f(x))
    return g

In [10]:
def increment(x):
    return x + 1

inc2 = twice(increment)
print(inc2(5))

7

In [11]:
def square(x):
    return x*x

sq2 = twice(square)
print(sq2(3))

81

In [12]:
def square(x):
    return x*x

numbers = [1, 3, 5, 7]

result = map(square, numbers)
print(list(result))

[1, 9, 25, 49]

In [13]:
numbers = [1, 3, 5, 7]

result = map(lambda x: x*x, numbers)
print(list(result))

[1, 9, 25, 49]