In [87]:
'''Here are the Pearl Harbor Carriers 
1. Akagi
2. Kaga
3. Soryu
4. Hiryu
5. Shokaku
6. Zuikaku

'''

import pandas as pd
import requests
from lxml import html
import re
import time 

# URL of the Wikipedia page to scrape
tab="\t"
nms=['Kaga-Pearl','Zuikaku-Pearl','Akagi-Pearl','Hiryu-Pearl','Shokaku-Pearl','Soryu-Pearl','Hyruga','Ise','Nagato','Mutsu']
lst=['https://en.wikipedia.org/wiki/Japanese_aircraft_carrier_Kaga',
    'https://en.wikipedia.org/wiki/Japanese_aircraft_carrier_Zuikaku',
     'https://en.wikipedia.org/wiki/Japanese_aircraft_carrier_Akagi',
     'https://en.wikipedia.org/wiki/Japanese_aircraft_carrier_Hiry%C5%AB',
     'https://en.wikipedia.org/wiki/Japanese_aircraft_carrier_Sh%C5%8Dkaku',
     'https://en.wikipedia.org/wiki/Japanese_aircraft_carrier_S%C5%8Dry%C5%AB',
    
     'https://en.wikipedia.org/wiki/Japanese_battleship_Hy%C5%ABga',
     'https://en.wikipedia.org/wiki/Japanese_battleship_Ise',
     'https://en.wikipedia.org/wiki/Japanese_battleship_Nagato',
     'https://en.wikipedia.org/wiki/Japanese_battleship_Mutsu',]

xpath='//tr/td[text()="Fate"]/following-sibling::td[1]/text()'
print(f'Print out sinking dates of a selection of IJN carriers and battleships:')
d=list()
for n, u in zip(nms,lst):
    response = requests.get(u)
    #time.sleep(0.25) Interesting that this is no longer needed.
    content = response.content
    tree = html.fromstring(content)
    commissioning_date = tree.xpath(xpath)
    z1 = " ".join(commissioning_date[0:8])
    z= re.findall(r'\d{1,2} \w{3,8} \d{4}', z1)[0]
    print(f'{tab}Ship sunk: {n:>20} with the fated day listed as {z:>15}')
    d.append(z)
df=pd.DataFrame({"Ship":nms,"Fate":d})
display(df)

Print out sinking dates of a selection of IJN carriers and battleships:
	Ship sunk:           Kaga-Pearl with the fated day listed as     4 June 1942
	Ship sunk:        Zuikaku-Pearl with the fated day listed as 25 October 1944
	Ship sunk:          Akagi-Pearl with the fated day listed as     5 June 1942
	Ship sunk:          Hiryu-Pearl with the fated day listed as     5 June 1942
	Ship sunk:        Shokaku-Pearl with the fated day listed as    19 June 1944
	Ship sunk:          Soryu-Pearl with the fated day listed as     4 June 1942
	Ship sunk:               Hyruga with the fated day listed as    27 July 1945
	Ship sunk:                  Ise with the fated day listed as    28 July 1945
	Ship sunk:               Nagato with the fated day listed as    30 July 1946
	Ship sunk:                Mutsu with the fated day listed as     8 June 1943

            Ship             Fate
0     Kaga-Pearl      4 June 1942
1  Zuikaku-Pearl  25 October 1944
2    Akagi-Pearl      5 June 1942
3    Hiryu-Pearl      5 June 1942
4  Shokaku-Pearl     19 June 1944
5    Soryu-Pearl      4 June 1942
6         Hyruga     27 July 1945
7            Ise     28 July 1945
8         Nagato     30 July 1946
9          Mutsu      8 June 1943

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ship    10 non-null     object
 1   Fate    10 non-null     object
dtypes: object(2)
memory usage: 292.0+ bytes

In [89]:
df.Fate=pd.to_datetime(df.Fate,"%d %B %Y")

AssertionError:

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ship    10 non-null     object
 1   Fate    10 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 292.0+ bytes

In [ ]:
display(df)

            Ship       Fate
0     Kaga-Pearl 1942-06-04
1  Zuikaku-Pearl 1944-10-25
2    Akagi-Pearl 1942-06-05
3    Hiryu-Pearl 1942-06-05
4  Shokaku-Pearl 1944-06-19
5    Soryu-Pearl 1942-06-04
6         Hyruga 1945-07-27
7            Ise 1945-07-28
8         Nagato 1946-07-30
9          Mutsu 1943-06-08

In [ ]:
# Time between first and last Pearl Harbor-involved carrier sunk.

from datetime import datetime
from dateutil import relativedelta

# get two dates
start_date = df[df.Ship=='Kaga-Pearl'].Fate.item()
print(d1)
end_date = df[df.Ship=='Zuikaku-Pearl'].Fate.item()
print(d2)

delta = relativedelta.relativedelta(end_date, start_date)
print('Years, Months, Days between two dates is')
print(delta.years, 'Years,', delta.months, 'months,', delta.days, 'days')

1942-06-04 00:00:00
1946-07-30 00:00:00
Years, Months, Days between two dates is
2 Years, 4 months, 21 days

In [ ]:
# Using loc

from datetime import datetime
from dateutil import relativedelta

# get two dates
start_date = pd.to_datetime(df.loc[df.Ship=='Kaga-Pearl',"Fate"].values[0])
print(start_date, type(start_date))
end_date = pd.to_datetime(df.loc[df.Ship=='Zuikaku-Pearl',"Fate"].values[0])
print(end_date, type(end_date))

delta = relativedelta.relativedelta(end_date, start_date)
print('Years, Months, Days between two dates is')
print(delta.years, 'Years,', delta.months, 'months,', delta.days, 'days')

1942-06-04 00:00:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>
1944-10-25 00:00:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>
Years, Months, Days between two dates is
2 Years, 4 months, 21 days

In [ ]:
# Using loc

from datetime import datetime
from dateutil import relativedelta

# get two dates
start_date = pd.to_datetime(df.iloc[0,1])
print(start_date, type(start_date))
end_date = pd.to_datetime(df.iloc[1,1])
print(end_date, type(end_date))

delta = relativedelta.relativedelta(end_date, start_date)
print('Years, Months, Days between two dates is')
print(delta.years, 'Years,', delta.months, 'months,', delta.days, 'days')

1942-06-04 00:00:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>
1944-10-25 00:00:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>
Years, Months, Days between two dates is
2 Years, 4 months, 21 days

In [90]:
# Using loc

from datetime import datetime
from dateutil import relativedelta

# get two dates
df=df.set_index('Ship')
start_date = pd.to_datetime(df.loc['Kaga-Pearl'].values[0])
end_date = pd.to_datetime(df.loc['Zuikaku-Pearl'].values[0])
print(end_date, type(end_date))
display(df)

delta = relativedelta.relativedelta(end_date, start_date)
print('Years, Months, Days between two dates is')
print(delta.years, 'Years,', delta.months, 'months,', delta.days, 'days')

1944-10-25 00:00:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>

                          Fate
Ship
Kaga-Pearl         4 June 1942
Zuikaku-Pearl  25 October 1944
Akagi-Pearl        5 June 1942
Hiryu-Pearl        5 June 1942
Shokaku-Pearl     19 June 1944
Soryu-Pearl        4 June 1942
Hyruga            27 July 1945
Ise               28 July 1945
Nagato            30 July 1946
Mutsu              8 June 1943

Years, Months, Days between two dates is
2 Years, 4 months, 21 days