https://towardsdatascience.com/how-to-bin-numerical-data-with-pandas-fe5146c9dc55

In [1]:
import pandas as pd # version 1.3.5
import numpy as np
def create_df():
    df = pd.DataFrame({'score': np.random.randint(0,101,1000)})
    return df
df = create_df()
df.head()

   score
0     65
1     50
2     16
3     97
4     57

In [3]:
df.loc[df['score'].between(0, 50, 'both'), 'grade'] = 'C'
df.loc[df['score'].between(50, 80, 'right'), 'grade'] = 'B'
df.loc[df['score'].between(80, 100, 'right'), 'grade'] = 'A'
print(df)

     score grade
0       65     B
1       50     B
2       16     C
3       97     A
4       57     B
..     ...   ...
995     98     A
996     56     B
997      2     C
998     83     A
999     22     C

[1000 rows x 2 columns]

In [4]:
df.grade.value_counts()

C    489
B    310
A    201
Name: grade, dtype: int64

In [6]:
bins = [0, 50, 80, 100]
labels = ['C', 'B', 'A']
df['grade'] = pd.cut(x = df['score'], bins = bins, labels = labels, include_lowest = True)
print(df)

     score grade
0       65     B
1       50     C
2       16     C
3       97     A
4       57     B
..     ...   ...
995     98     A
996     56     B
997      2     C
998     83     A
999     22     C

[1000 rows x 2 columns]

In [7]:
df.grade.value_counts()

C    497
B    314
A    189
Name: grade, dtype: int64

In [8]:
df['grade'], cut_bin = pd.qcut(df['score'], q = 3, labels = ['C', 'B', 'A'], retbins = True)
df.head()

   score grade
0     65     B
1     50     B
2     16     C
3     97     A
4     57     B

In [9]:
print (cut_bin)

[  0.  36.  68. 100.]

In [10]:
df.grade.value_counts()

C    349
A    328
B    323
Name: grade, dtype: int64

In [11]:
df['score'].value_counts(bins = 3, sort = False)

(-0.101, 33.333]    312
(33.333, 66.667]    340
(66.667, 100.0]     348
Name: score, dtype: int64

In [12]:
df['score'].value_counts(bins = [0,50,80,100], sort = False)

(-0.001, 50.0]    497
(50.0, 80.0]      314
(80.0, 100.0]     189
Name: score, dtype: int64