https://medium.com/@shouke.wei/2-convenient-methods-to-select-columns-while-reading-dataset-with-pandas-80df68206c4

In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/NourozR/Stock-Price-Prediction-LSTM/master/apple_share_price.csv'
df = pd.read_csv(url)
df.head()

        Date    Open    High     Low   Close    Volume
0  11-Aug-17  156.60  158.57  156.07  157.48  26257096
1  10-Aug-17  159.90  160.00  154.63  155.32  40804273
2   9-Aug-17  159.26  161.27  159.11  161.06  26131530
3   8-Aug-17  158.60  161.83  158.27  160.08  36205896
4   7-Aug-17  157.06  158.92  156.67  158.81  21870321

In [2]:
import pandas as pd

url = 'https://raw.githubusercontent.com/NourozR/Stock-Price-Prediction-LSTM/master/apple_share_price.csv'
df = pd.read_csv(url, usecols=['Date', 'High'])
df.head()

        Date    High
0  11-Aug-17  158.57
1  10-Aug-17  160.00
2   9-Aug-17  161.27
3   8-Aug-17  161.83
4   7-Aug-17  158.92

In [3]:
import pandas as pd

url = 'https://raw.githubusercontent.com/NourozR/Stock-Price-Prediction-LSTM/master/apple_share_price.csv'

df = pd.read_csv(url, usecols=[0,2])
df.head()

        Date    High
0  11-Aug-17  158.57
1  10-Aug-17  160.00
2   9-Aug-17  161.27
3   8-Aug-17  161.83
4   7-Aug-17  158.92

In [4]:
import pandas as pd

url = 'https://raw.githubusercontent.com/NourozR/Stock-Price-Prediction-LSTM/master/apple_share_price.csv'

# Read only rows between 10 to 20, and select first 3 columns
df = pd.read_csv(url, usecols=[0,1,2], skiprows=range(1,10), nrows=10)
df

        Date    Open    High
0  31-Jul-17  149.90  150.33
1  28-Jul-17  149.89  150.23
2  27-Jul-17  153.75  153.99
3  26-Jul-17  153.35  153.93
4  25-Jul-17  151.80  153.84
5  24-Jul-17  150.58  152.44
6  21-Jul-17  149.99  150.44
7  20-Jul-17  151.50  151.74
8  19-Jul-17  150.48  151.42
9  18-Jul-17  149.20  150.13