https://towardsdatascience.com/creating-conditional-columns-on-pandas-with-numpy-select-and-where-methods-8ee6e2dbd5d5

In [2]:

import pandas as pd
import numpy as np
df = pd.DataFrame({
    'fruit': ['Apple', 'Banana', 'Apple', 'Banana'],
    'supplier': ['T & C Bro', 'T & C Bro', 'JM Wholesales', 'JM Wholesales'],
    'weight (kg)': [1000,2000,3000,4000],
    'customer_rating': [4.8,3.2, 4.2, 4.3]
})

In [3]:

# T & C Bro
tc_price = pd.DataFrame({
    'fruit': ['Apple', 'Banana', 'Orange', 'Pineapple'],
    'price (kg)': [1.1, 2, 2.9, 3.1]
})
# JM Wholesales
jm_price = pd.DataFrame({
    'fruit': ['Apple', 'Banana', 'Orange', 'Pineapple'],
    'price (kg)': [1.2, 1.8, 4, 6]
})

In [4]:
df = df.set_index('fruit')
tc_price = tc_price.set_index('fruit')
jm_price = jm_price.set_index('fruit')

In [5]:
df['price (kg)'] = np.where(
    df['supplier'] == 'T & C Bro', 
    tc_price.loc[df.index]['price (kg)'], 
    jm_price.loc[df.index]['price (kg)']
)
print(df)

             supplier  weight (kg)  customer_rating  price (kg)
fruit
Apple       T & C Bro         1000              4.8         1.1
Banana      T & C Bro         2000              3.2         2.0
Apple   JM Wholesales         3000              4.2         1.2
Banana  JM Wholesales         4000              4.3         1.8

In [6]:
df_3 = pd.DataFrame({
    'fruit': ['Apple', 'Banana', 'Apple', 'Banana', 'Apple', 'Banana'],
    'supplier': ['T & C Bro', 'T & C Bro', 'JM Wholesales', 'JM Wholesales', 'Star Ltd.', 'Star Ltd.'],
    'buy (kg)': [1000,2000,3000,4000, 2000, 1500],
    'customer_rating': [4.8,3.2, 4.2, 4.3, 5, 4.8]
})


df_price = pd.DataFrame({
    'fruit': ['Apple', 'Banana', 'Orange', 'Pineapple'],
    'T & C Bro': [1.1, 2, 2.9, 3.1],
    'JM Wholesales': [1.2, 1.8, 4, 6],
    'Star Ltd.': [0.9, 1.5, 3.8, 5.5]
})

In [7]:
df_3 = df_3.set_index('fruit')
df_price = df_price.set_index('fruit')

In [10]:

args = df_price.loc[df_3.index]

conds = [
    df_3['supplier'] == 'T & C Bro', 
    df_3['supplier'] == 'JM Wholesales', 
    df_3['supplier'] == 'Star Ltd.',
]

choices = [args['T & C Bro'], args['JM Wholesales'], args['Star Ltd.']]
# print(conds)
#print("*****")
# print(choices)
# print('0000')
# print(df_3['supplier']=='T & C Bro')
# print(args['T & C Bro'])
# print(args['JM Wholesales'])
print("1111")
print(choices[0])

df_3['price (kg)'] = np.select(conds, choices)
df_3
# print(globals())

1111
fruit
Apple     1.1
Banana    2.0
Apple     1.1
Banana    2.0
Apple     1.1
Banana    2.0
Name: T & C Bro, dtype: float64

             supplier  buy (kg)  customer_rating  price (kg)
fruit
Apple       T & C Bro      1000              4.8         1.1
Banana      T & C Bro      2000              3.2         2.0
Apple   JM Wholesales      3000              4.2         1.2
Banana  JM Wholesales      4000              4.3         1.8
Apple       Star Ltd.      2000              5.0         0.9
Banana      Star Ltd.      1500              4.8         1.5