https://towardsdev.com/how-to-calculate-correlation-in-python-part-i-91e840943e3a

In [1]:
import pandas as pd

salary = pd.DataFrame({'Name': ['Lily', 'Andy', 'Jason', 'Amy'],
                      'Experience': [30, 21, 19, 10],
                      'Salary': [120000, 105000, 90000, 82000]})

salary

    Name  Experience  Salary
0   Lily          30  120000
1   Andy          21  105000
2  Jason          19   90000
3    Amy          10   82000

In [2]:
import numpy as np

x = np.arange(10, 20)
y = np.array([2, 1, 4, 5, 8, 15, 28, 39, 101, 74])

np.corrcoef(x, y)

array([[1.        , 0.85317284],
       [0.85317284, 1.        ]])

In [3]:
import scipy.stats
import numpy as np

x = np.arange(10, 20)
y = np.array([2, 1, 4, 5, 8, 15, 28, 39, 101, 74])

scipy.stats.pearsonr(x, y)

(0.8531728383664856, 0.0016965136730576495)