https://towardsdatascience.com/how-to-use-cumsum-to-solve-python-optimization-questions-ab73f617a347

In [41]:
import pandas as pd
numbers = pd.DataFrame(range(10))
print(numbers)
print(type(numbers))

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9
<class 'pandas.core.frame.DataFrame'>

In [42]:
numbers['Cumulative Sum'] = numbers.cumsum()
print(numbers)

   0  Cumulative Sum
0  0               0
1  1               1
2  2               3
3  3               6
4  4              10
5  5              15
6  6              21
7  7              28
8  8              36
9  9              45

In [43]:

numbers = pd.DataFrame(range(10))
numbers['Cumulative Sum'] = numbers.cumsum()
numbers['reversed'] = list(reversed(range(10)))
numbers['Cumulative Sum 2'] = numbers['reversed'].cumsum()
numbers

   0  Cumulative Sum  reversed  Cumulative Sum 2
0  0               0         9                 9
1  1               1         8                17
2  2               3         7                24
3  3               6         6                30
4  4              10         5                35
5  5              15         4                39
6  6              21         3                42
7  7              28         2                44
8  8              36         1                45
9  9              45         0                45

In [44]:
numbers = pd.DataFrame([2,3,-5,3,-8,-2,7])
numbers['Cumulative Sum'] = numbers.cumsum()
numbers

   0  Cumulative Sum
0  2               2
1  3               5
2 -5               0
3  3               3
4 -8              -5
5 -2              -7
6  7               0

In [45]:
train_arrivals=pd.DataFrame({'time':[1]})
train_departures=pd.DataFrame({'time':[-1]})
#train_arrivals['mark'] = 1
#train_departures['mark'] = -1

print(train_arrivals)
print(train_departures)

   time
0     1
   time
0    -1

In [46]:
train_arrivals = train_arrivals.rename(columns={ 'arrival_time' : 'time' }) 
train_departures = train_departures.rename(columns={ 'departure_time' : 'time' })
print(train_arrivals)
print(train_departures)

   time
0     1
   time
0    -1

In [47]:
# Mark arrivals with 1s
train_arrivals['mark'] = 1
# Mark departures with -1s
train_departures['mark'] = -1

# Match column names in both DataFrames
train_arrivals = train_arrivals.rename(columns={'arrival_time': 'time'})
train_departures = train_departures.rename(columns={'departure_time': 'time'})

# Append one table to another
timetable = train_arrivals.append(train_departures)
print(timetable)

   time  mark
0     1     1
0    -1    -1

In [48]:
timetable = timetable.sort_values(by='time', ascending=True)
print(timetable)

   time  mark
0    -1    -1
0     1     1

In [49]:
timetable['n_trains'] = timetable['mark'].cumsum() 
print(timetable)

   time  mark  n_trains
0    -1    -1        -1
0     1     1         0

In [59]:
train_arrivals=pd.DataFrame(
    {'train_id':[1,2,3,4,5,6,7,8],
     'arrival_time':['2023-03-17 08:00:00','2023-03-17 08:05:00','2023-03-17 08:05:00','2023-03-17 08:10:00','2023-03-17 08:10:00',
                    '2023-03-17 08:15:00','2023-03-17 08:20:00','2023-03-17 08:25:00']}
)
print(train_arrivals)
train_departures=pd.DataFrame(
    {'train_id':[2,1,5,3,4],
     'departure_time':['2023-03-17 08:10:00','2023-03-17 08:15:00','2023-03-17 08:20:00','2023-03-17 08:20:00','2023-03-17 08:25:00']}
)
train_arrivals.arrival_time=pd.to_datetime(train_arrivals.arrival_time,infer_datetime_format=True)
train_departures.departure_time=pd.to_datetime(train_departures.departure_time,infer_datetime_format=True)
print(train_arrivals.info())
print(train_departures.info())
print(train_arrivals)
print(train_departures)

   train_id         arrival_time
0         1  2023-03-17 08:00:00
1         2  2023-03-17 08:05:00
2         3  2023-03-17 08:05:00
3         4  2023-03-17 08:10:00
4         5  2023-03-17 08:10:00
5         6  2023-03-17 08:15:00
6         7  2023-03-17 08:20:00
7         8  2023-03-17 08:25:00
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   train_id      8 non-null      int64
 1   arrival_time  8 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 256.0 bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   train_id        5 non-null      int64
 1   departure_time  5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 208.0 bytes
None
   train_id        arrival_time
0         1 2023-03-17 08:00:00
1         2 2023-03-17 08:05:00
2         3 2023-03-17 08:05:00
3         4 2023-03-17 08:10:00
4         5 2023-03-17 08:10:00
5         6 2023-03-17 08:15:00
6         7 2023-03-17 08:20:00
7         8 2023-03-17 08:25:00
   train_id      departure_time
0         2 2023-03-17 08:10:00
1         1 2023-03-17 08:15:00
2         5 2023-03-17 08:20:00
3         3 2023-03-17 08:20:00
4         4 2023-03-17 08:25:00

In [69]:
# Mark arrivals with 1s
train_arrivals['mark'] = 1
# Mark departures with -1s
train_departures['mark'] = -1

# Match column names in both DataFrames
train_arrivals = train_arrivals.rename(columns={'arrival_time': 'time'})
train_departures = train_departures.rename(columns={'departure_time': 'time'})

# Append one table to another
timetable = train_arrivals.append(train_departures)

# Sort the events chronologically
timetable = timetable.sort_values(by='time', ascending=True)
print("check")
print(timetable)

# Calculate cumulative sum from 1 and -1 values
timetable['n_trains'] = timetable['mark'].cumsum()

# Select maximum value from cumulative sum
result = max(timetable['n_trains'])
print(timetable)
print(f'Maximum number of trains in station: {result}')

check
   train_id                time  mark
0         1 2023-03-17 08:00:00     1
1         2 2023-03-17 08:05:00     1
2         3 2023-03-17 08:05:00     1
3         4 2023-03-17 08:10:00     1
4         5 2023-03-17 08:10:00     1
0         2 2023-03-17 08:10:00    -1
5         6 2023-03-17 08:15:00     1
1         1 2023-03-17 08:15:00    -1
6         7 2023-03-17 08:20:00     1
2         5 2023-03-17 08:20:00    -1
3         3 2023-03-17 08:20:00    -1
7         8 2023-03-17 08:25:00     1
4         4 2023-03-17 08:25:00    -1
   train_id                time  mark  n_trains
0         1 2023-03-17 08:00:00     1         1
1         2 2023-03-17 08:05:00     1         2
2         3 2023-03-17 08:05:00     1         3
3         4 2023-03-17 08:10:00     1         4
4         5 2023-03-17 08:10:00     1         5
0         2 2023-03-17 08:10:00    -1         4
5         6 2023-03-17 08:15:00     1         5
1         1 2023-03-17 08:15:00    -1         4
6         7 2023-03-17 08:20:00     1         5
2         5 2023-03-17 08:20:00    -1         4
3         3 2023-03-17 08:20:00    -1         3
7         8 2023-03-17 08:25:00     1         4
4         4 2023-03-17 08:25:00    -1         3
Maximum number of trains in station: 5