https://pub.towardsai.net/converting-strings-to-datetime-in-python-fb767394b125

In [1]:
from datetime import datetime

datetime_1 = datetime.strptime('05/01/2021', '%m/%d/%Y')
print(datetime_1)

datetime_2 =datetime.strptime('5/1/21', '%m/%d/%y')
print(datetime_2)

datetime_3 = datetime.strptime('Thursday, December 31, 2020', '%A, %B %d, %Y')
print(datetime_3)

datetime_4 = datetime.strptime('31 December 2020, 23:55:55','%d %B %Y, %H:%M:%S')
print(datetime_4)

2021-05-01 00:00:00
2021-05-01 00:00:00
2020-12-31 00:00:00
2020-12-31 23:55:55

In [2]:
datetime_5 = datetime.strptime('2007-01-01T00:14:24','%Y-%m-%dT%H:%M:%S')
print(datetime_5)

#add microseconds
datetime_6 = datetime.strptime('2007-01-01T00:14:24.055','%Y-%m-%dT%H:%M:%S.%f')
print(datetime_6)

#add time zone offset
date_string='2007-01-01T00:14:24.055+01:00'
date_string=date_string.split('+')
date_string= date_string[0]+'+'+date_string[1].replace(':','')
print(date_string)
datetime_7 = datetime.strptime(date_string,'%Y-%m-%dT%H:%M:%S.%f%z')
print(datetime_7)

2007-01-01 00:14:24
2007-01-01 00:14:24.055000
2007-01-01T00:14:24.055+0100
2007-01-01 00:14:24.055000+01:00

In [3]:

import dateutil.parser

str_8 = '2005-01-03 02:25:00+01:00'
d = dateutil.parser.parse(str_8)
print(d)

2005-01-03 02:25:00+01:00

In [7]:
print(d.__class__)

<class 'datetime.datetime'>

In [8]:
print(str(d))

2005-01-03 02:25:00+01:00

d.__dir__

In [11]:
dir(d)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fold',
 'fromisocalendar',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']

In [12]:
print(datetime.weekday(d))
print(datetime.isoweekday(d))
print(datetime.isocalendar(d))

0
1
datetime.IsoCalendarDate(year=2005, week=1, weekday=1)

In [13]:
import pandas as pd
from datetime import datetime

df = pd.read_csv('catalog.csv')
df.head()

,id,date,time,continent_code,country_name,country_code,state/province,population,city/town,distance,...,geolocation,hazard_type,landslide_type,landslide_size,trigger,storm_name,injuries,fatalities,source_name,source_link
0,34,03-02-07,Night,NaN,United States,US,Virginia,16000,Cherry Hill,3.40765,...,"(38.600900000000003, -77.268199999999993)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,NBC 4 news,http://www.nbc4.com/news/11186871/detail.html
1,42,3/22/07,NaN,NaN,United States,US,Ohio,17288,New Philadelphia,3.33522,...,"(40.517499999999998, -81.430499999999995)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,Canton Rep.com,http://www.cantonrep.com/index.php?ID=345054&C...
2,56,04-06-07,NaN,NaN,United States,US,Pennsylvania,15930,Wilkinsburg,2.91977,...,"(40.4377, -79.915999999999997)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,The Pittsburgh Channel.com,https://web.archive.org/web/20080423132842/htt...
3,59,4/14/07,NaN,NaN,Canada,CA,Quebec,42786,Châteauguay,2.98682,...,"(45.322600000000001, -73.777100000000004)",Landslide,Riverbank collapse,Small,Rain,NaN,NaN,NaN,Le Soleil,http://www.hebdos.net/lsc/edition162007/articl...
4,61,4/15/07,NaN,NaN,United States,US,Kentucky,6903,Pikeville,5.66542,...,"(37.432499999999997, -82.493099999999998)",Landslide,Landslide,Small,Downpour,NaN,NaN,0.0,Matthew Crawford (KGS),NaN

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1693 entries, 0 to 1692
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1693 non-null   int64
 1   date                  1690 non-null   object
 2   time                  629 non-null    object
 3   continent_code        164 non-null    object
 4   country_name          1693 non-null   object
 5   country_code          1693 non-null   object
 6   state/province        1692 non-null   object
 7   population            1693 non-null   int64
 8   city/town             1689 non-null   object
 9   distance              1692 non-null   float64
 10  location_description  551 non-null    object
 11  latitude              1692 non-null   float64
 12  longitude             1692 non-null   float64
 13  geolocation           1692 non-null   object
 14  hazard_type           1693 non-null   object
 15  landslide_type        1692 non-null   object
 16  landslide_size        1692 non-null   object
 17  trigger               1691 non-null   object
 18  storm_name            132 non-null    object
 19  injuries              515 non-null    float64
 20  fatalities            1446 non-null   float64
 21  source_name           872 non-null    object
 22  source_link           1593 non-null   object
dtypes: float64(5), int64(2), object(16)
memory usage: 304.3+ KB

In [23]:
import dateutil.parser
#df["date"] = df["date"].apply(lambda x: datetime.strptime(x,r"%m/%d/%y") if pd.notnull(x) else '')
df["date"] = df["date"].apply(lambda x: dateutil.parser.parse(x) if pd.notnull(x) else '')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1693 entries, 0 to 1692
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1693 non-null   int64
 1   date                  1690 non-null   datetime64[ns]
 2   time                  629 non-null    object
 3   continent_code        164 non-null    object
 4   country_name          1693 non-null   object
 5   country_code          1693 non-null   object
 6   state/province        1692 non-null   object
 7   population            1693 non-null   int64
 8   city/town             1689 non-null   object
 9   distance              1692 non-null   float64
 10  location_description  551 non-null    object
 11  latitude              1692 non-null   float64
 12  longitude             1692 non-null   float64
 13  geolocation           1692 non-null   object
 14  hazard_type           1693 non-null   object
 15  landslide_type        1692 non-null   object
 16  landslide_size        1692 non-null   object
 17  trigger               1691 non-null   object
 18  storm_name            132 non-null    object
 19  injuries              515 non-null    float64
 20  fatalities            1446 non-null   float64
 21  source_name           872 non-null    object
 22  source_link           1593 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(2), object(15)
memory usage: 304.3+ KB

C:\Users\biegertm\AppData\Local\Temp/ipykernel_24684/1695164250.py:3: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})
  df["date"] = df["date"].apply(lambda x: dateutil.parser.parse(x) if pd.notnull(x) else '')

In [24]:
df["day"] = df["date"].apply(lambda x: x.day if pd.notnull(x) else 0)

df["month"] = df["date"].apply(lambda x: x.month if pd.notnull(x) else 0)

df["year"] = df["date"].apply(lambda x: x.year if pd.notnull(x) else 0)

df.loc[:,['date','day','month','year']].head()

        date  day  month  year
0 2007-03-02    2      3  2007
1 2007-03-22   22      3  2007
2 2007-04-06    6      4  2007
3 2007-04-14   14      4  2007
4 2007-04-15   15      4  2007

In [25]:
from datetime import timedelta

df['week_ago_date'] = df['date']- timedelta(days=7)
df[['date','week_ago_date']].head()

        date week_ago_date
0 2007-03-02    2007-02-23
1 2007-03-22    2007-03-15
2 2007-04-06    2007-03-30
3 2007-04-14    2007-04-07
4 2007-04-15    2007-04-08