https://awstip.com/selecting-rows-based-on-column-values-in-pandas-38cadca87416

In [1]:
import pandas as pd

In [2]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
    'Age': [28, 24, 35, 22, 29],
    'Department': ['HR', 'IT', 'Finance', 'IT', 'Marketing'],
    'Salary': [55000, 60000, 75000, 50000, 80000]
}
df = pd.DataFrame(data)

In [4]:
age_condition = df['Age'] >= 30
result = df[age_condition]
print(result)

      Name  Age Department  Salary
2  Charlie   35    Finance   75000

In [7]:
condition1 = df['Department'] == 'IT'
condition2 = df['Salary'] >= 60000
result=df[condition1&condition2]

In [8]:
print(result)

  Name  Age Department  Salary
1  Bob   24         IT   60000

In [9]:
condition3 = df['Department'] == 'Finance'
condition4 = df['Salary'] < 55000
result = df[condition3 | condition4]
print(result)

      Name  Age Department  Salary
2  Charlie   35    Finance   75000
3    David   22         IT   50000

In [10]:
name_condition = df['Name'].str.contains('a', case=False)
result = df[name_condition]
print(result)

      Name  Age Department  Salary
0    Alice   28         HR   55000
2  Charlie   35    Finance   75000
3    David   22         IT   50000
4     Emma   29  Marketing   80000

In [11]:
age_condition = df['Age'].isin([24, 29])
result = df[age_condition]
print(result)

   Name  Age Department  Salary
1   Bob   24         IT   60000
4  Emma   29  Marketing   80000