In [3]:
import pandas as pd

dct ={"Product":["A","B","A","B"],
                         "Date":["2021-01-01","2021-01-01","2021-01-02","2021-01-02"],
                         "Sales":[100,200,150,250]}
print(dct)          
sales_data=pd.DataFrame(dct)
print(sales_data)

{'Product': ['A', 'B', 'A', 'B'], 'Date': ['2021-01-01', '2021-01-01', '2021-01-02', '2021-01-02'], 'Sales': [100, 200, 150, 250]}
  Product        Date  Sales
0       A  2021-01-01    100
1       B  2021-01-01    200
2       A  2021-01-02    150
3       B  2021-01-02    250

In [4]:
pivot_table = sales_data.pivot_table(index='Product', columns='Date', 
                                    values='Sales', aggfunc='sum')

print(pivot_table)

Date     2021-01-01  2021-01-02
Product
A               100         150
B               200         250

In [7]:

scores_data = pd.DataFrame({"Name":["Alice","Bob","Alice","Bob"],"Subject":["Math","Math","Science","Science"],"Score":[90,80,95,85]})

In [8]:
import pandas as pd


pivot_table = scores_data.pivot_table(index='Name', columns='Subject', values='Score', aggfunc='mean')

print(pivot_table)

Subject  Math  Science
Name
Alice      90       95
Bob        80       85

In [10]:

salary_data=pd.DataFrame({"Employee":["John","Jane","Tom","Mary"],"Department":["Marketing","Sales","Marketing","Sales"],"Salary":[5000,6000,44500,5500]})
pivot_table = salary_data.pivot_table(index='Department', values='Salary', 
                                      aggfunc='mean')

print(pivot_table)

            Salary
Department
Marketing    24750
Sales         5750