https://medium.com/codex/ten-ways-to-access-pandas-dataframe-which-one-is-the-best-aac33e0fbe4a

In [1]:
import pandas as pd
pd_data = pd.DataFrame(
    {'employee': ['Bob', 'Jake', 'Lisa', 'Sue', 'Andrew'],
     'group': ['Accounting', 'Engineering', 'Engineering', 'HR','Engineering']}
)

In [2]:
pd_data['employee']

0       Bob
1      Jake
2      Lisa
3       Sue
4    Andrew
Name: employee, dtype: object

In [3]:
pd_data['employee'][4] # return Andrew

'Andrew'

In [5]:
pd_data['employee_id'] = [5,4,3,2,1]
pd_data.set_index('employee_id',inplace=True)

In [6]:
pd_data['employee'].loc[4] # return Jake

'Jake'

In [ ]:
pd_data['employee'].iloc[4] # return Andrew

In [8]:
#step 1. 
temp_result = pd_data['employee']
#step 2. 
result = temp_result.loc[4]

In [9]:
result = pd.eval("pd_data['employee'][4]")

In [10]:
pd_data.query("employee_id > 3")
pd_data.query("employee_id == 3")
pd_data.query("employee == 'Andrew'")

            employee        group
employee_id
1             Andrew  Engineering

: