https://medium.com/@pythonfundamentals/a-guide-to-loc-and-iloc-in-python-2fc73abe0514

In [1]:
import pandas as pd

# Creating a basic example dataset
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'Age': [25, 30, 22, 35, 28],
    'Salary': [50000, 60000, 45000, 70000, 55000]
}

df = pd.DataFrame(data)
print(df)

C:\Users\biegertm\AppData\Roaming\Python\Python39\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\biegertm\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\masked.py:62: UserWarning: Pandas requires version '1.3.4' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   22   45000
3    David   35   70000
4    Emily   28   55000

In [2]:
# Selecting a specific row by label
row_bob = df.loc[df['Name'] == 'Bob']
print(row_bob)

  Name  Age  Salary
1  Bob   30   60000

In [3]:
# Selecting specific rows and columns by label
subset = df.loc[df['Age'] > 25, ['Name', 'Salary']]
print(subset)

    Name  Salary
1    Bob   60000
3  David   70000
4  Emily   55000

In [4]:
# Selecting a specific row by index
row_index_2 = df.iloc[2]
print(row_index_2)

Name      Charlie
Age            22
Salary      45000
Name: 2, dtype: object

In [5]:
# Selecting specific rows and columns by index
subset_index = df.iloc[1:4, [0, 2]]
print(subset_index)

      Name  Salary
1      Bob   60000
2  Charlie   45000
3    David   70000

In [6]:
# Combining loc and iloc for advanced selection
advanced_selection = df.loc[df['Age'] > 25].iloc[:, 1:]
print(advanced_selection)

   Age  Salary
1   30   60000
3   35   70000
4   28   55000

https://stackoverflow.com/questions/31593201/how-are-iloc-and-loc-different/46915810#46915810

In [9]:
s = pd.Series(list("abcdef"), index=[49, 48, 47, 0, 1, 2]) 
print(s.loc[0])   # value at index label 0
print(s.iloc[0])   # value at index location 0
print(s.loc[0:1])  # rows at index labels between 0 and 1 (inclusive)
print(s.iloc[0:1])

d
a
0    d
1    e
dtype: object
49    a
dtype: object

In [22]:
print(list(s.loc[1:47]))
print(list(s.iloc[1:47]))
print(list(s.loc[1:47:-1]))
print(list(s.iloc[1:47:-1]))

[]
['b', 'c', 'd', 'e', 'f']
['e', 'd', 'c']
[]

In [26]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
result = my_list[1:47:-1]
print(result)
print(list(s.loc[[]]))
print(list(s.iloc[[]]))

[]
[]
[]

In [12]:
#For example, consider the following DataFrame. 
#How best to slice the rows up to and including 'c' and 
#take the first four columns?

import numpy as np
df = pd.DataFrame(np.arange(25).reshape(5, 5),  
                      index=list('abcde'), 
                      columns=['x','y','z', 8, 9])

In [13]:
df.iloc[:df.index.get_loc('c') + 1, :4]

    x   y   z   8
a   0   1   2   3
b   5   6   7   8
c  10  11  12  13