https://sonery.medium.com/5-python-pandas-functions-you-should-not-forget-about-91a0acc8e718

In [4]:
import numpy as np
import pandas as pd

df = pd.DataFrame(
    np.random.randint(-10, 10, size=(5, 5)), 
    columns=list("ABCDE")
)

df

   A  B  C  D  E
0  9 -5  5 -8 -2
1  4 -1  4  3  3
2  4 -3  5 -3 -2
3  4 -8 -1 -7 -6
4  2  2  5  5  8

In [5]:
df.clip(lower=-4)

   A  B  C  D  E
0  9 -4  5 -4 -2
1  4 -1  4  3  3
2  4 -3  5 -3 -2
3  4 -4 -1 -4 -4
4  2  2  5  5  8

In [6]:
df

   A  B  C  D  E
0  9 -5  5 -8 -2
1  4 -1  4  3  3
2  4 -3  5 -3 -2
3  4 -8 -1 -7 -6
4  2  2  5  5  8

In [7]:
# difference between consecutive rows
df.diff()
# output

     A     B    C     D     E
0  NaN   NaN  NaN   NaN   NaN
1 -5.0   4.0 -1.0  11.0   5.0
2  0.0  -2.0  1.0  -6.0  -5.0
3  0.0  -5.0 -6.0  -4.0  -4.0
4 -2.0  10.0  6.0  12.0  14.0

In [8]:
# difference between the row before
df.diff(periods=2)
# output

     A    B    C     D     E
0  NaN  NaN  NaN   NaN   NaN
1  NaN  NaN  NaN   NaN   NaN
2 -5.0  2.0  0.0   5.0   0.0
3  0.0 -7.0 -5.0 -10.0  -9.0
4 -2.0  5.0  0.0   8.0  10.0

In [9]:
# difference between consecutive columns
df.diff(axis=1)
# output

    A   B   C   D  E
0 NaN -14  10 -13  6
1 NaN  -5   5  -1  0
2 NaN  -7   8  -8  1
3 NaN -12   7  -6  1
4 NaN   0   3   0  3

In [10]:
import pandas as pd

df = pd.DataFrame(

    {
        "age": [45, 53, 60, 42, 34],
        "gender": ["Female", "Male", "Female", "Female", "Male"]
    }
)

df

   age  gender
0   45  Female
1   53    Male
2   60  Female
3   42  Female
4   34    Male

In [11]:
pd.get_dummies(df)

   age  gender_Female  gender_Male
0   45              1            0
1   53              0            1
2   60              1            0
3   42              1            0
4   34              0            1

In [12]:
df_new = pd.get_dummies(df)

df_new
# output

   age  gender_Female  gender_Male
0   45              1            0
1   53              0            1
2   60              1            0
3   42              1            0
4   34              0            1

In [13]:
pd.from_dummies(df_new[["gender_Female", "gender_Male"]])
# output

0  gender_Female
1    gender_Male
2  gender_Female
3  gender_Female
4    gender_Male

In [14]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
   np.random.randint(0, 10, size=(5, 3)), 
   columns=list("ABC")
)

df
# output

   A  B  C
0  2  3  7
1  8  0  4
2  6  7  4
3  6  0  1
4  1  2  6

In [15]:
df.transform([np.sqrt, np.square])

          A                B                C
       sqrt square      sqrt square      sqrt square
0  1.414214      4  1.732051      9  2.645751     49
1  2.828427     64  0.000000      0  2.000000     16
2  2.449490     36  2.645751     49  2.000000     16
3  2.449490     36  0.000000      0  1.000000      1
4  1.000000      1  1.414214      4  2.449490     36