https://www.youtube.com/watch?v=Qx5ZyYP9BQY&t=6s

In [176]:
b2012=["Calista Berry",
"Charissa Bridges",
"Frances Hamilton",
"Moses Pitts",
"Adrienne Austin",
"Susan Nixon",
"September Travis",
"Asher Mays",
"Kasper Mckenzie",
"Colton Chase",]
b2013=["Asher Mays",
"Wayne Garrison",
"Charissa Bridges",
"Moses Pitts",
"Colton Chase",
"Susan Nixon",
"September Travis",
"Grace Dodson",
"Remedios Trevino",
]
b2014=["Susan Nixon",
"September Travis",
"Remedios Trevino",
"Zephania Ellison",
"Imani Small",
"Grace Dodson",
"Adrienne Austin",
"Asher Mays",
"Wayne Garrison",
"Charissa Bridges",
"Ray Miranda",
"Donna Acevedo",]

In [177]:
print(b2012)
print(b2013)
print(b2014)

['Calista Berry', 'Charissa Bridges', 'Frances Hamilton', 'Moses Pitts', 'Adrienne Austin', 'Susan Nixon', 'September Travis', 'Asher Mays', 'Kasper Mckenzie', 'Colton Chase']
['Asher Mays', 'Wayne Garrison', 'Charissa Bridges', 'Moses Pitts', 'Colton Chase', 'Susan Nixon', 'September Travis', 'Grace Dodson', 'Remedios Trevino']
['Susan Nixon', 'September Travis', 'Remedios Trevino', 'Zephania Ellison', 'Imani Small', 'Grace Dodson', 'Adrienne Austin', 'Asher Mays', 'Wayne Garrison', 'Charissa Bridges', 'Ray Miranda', 'Donna Acevedo']

In [178]:
import pandas as pd
df2012=pd.DataFrame(index=b2012)
df2012['Year']='2012'
df2012.index.name='Names'
df2013=pd.DataFrame(index=b2013)
df2013['Year']='2013'
df2013.index.name='Names'
df2014=pd.DataFrame(index=b2014)
df2014['Year']='2014'
df2014.index.name='Names'
df=pd.concat([df2012,df2013,df2014])
df.index.name='Names'

In [179]:
print(df)

                  Year
Names
Calista Berry     2012
Charissa Bridges  2012
Frances Hamilton  2012
Moses Pitts       2012
Adrienne Austin   2012
Susan Nixon       2012
September Travis  2012
Asher Mays        2012
Kasper Mckenzie   2012
Colton Chase      2012
Asher Mays        2013
Wayne Garrison    2013
Charissa Bridges  2013
Moses Pitts       2013
Colton Chase      2013
Susan Nixon       2013
September Travis  2013
Grace Dodson      2013
Remedios Trevino  2013
Susan Nixon       2014
September Travis  2014
Remedios Trevino  2014
Zephania Ellison  2014
Imani Small       2014
Grace Dodson      2014
Adrienne Austin   2014
Asher Mays        2014
Wayne Garrison    2014
Charissa Bridges  2014
Ray Miranda       2014
Donna Acevedo     2014

In [180]:
import numpy as np
func = lambda x:1
dfgrp=df.groupby(['Names','Year'], as_index=True).apply(lambda x:1)
pvt=pd.pivot_table(data=df,index='Names',columns='Year',fill_value=0,aggfunc=func)
pvt['Total']=pvt.apply(np.sum,axis=1)
print(pvt)

Year              2012  2013  2014  Total
Names
Adrienne Austin      1     0     1      2
Asher Mays           1     1     1      3
Calista Berry        1     0     0      1
Charissa Bridges     1     1     1      3
Colton Chase         1     1     0      2
Donna Acevedo        0     0     1      1
Frances Hamilton     1     0     0      1
Grace Dodson         0     1     1      2
Imani Small          0     0     1      1
Kasper Mckenzie      1     0     0      1
Moses Pitts          1     1     0      2
Ray Miranda          0     0     1      1
Remedios Trevino     0     1     1      2
September Travis     1     1     1      3
Susan Nixon          1     1     1      3
Wayne Garrison       0     1     1      2
Zephania Ellison     0     0     1      1

q: Why can't I add margins?

https://stackoverflow.com/questions/67051359/problem-with-pandas-pivot-table-margin-true-not-giving-me-the-correct-answers
q: What are margins supposed to do?

Good reference to ponder:
https://towardsdatascience.com/a-practical-introduction-to-pandas-pivot-table-function-3e1002dcd4eb
https://pbpython.com/pandas-grouper-agg.html

In [199]:
import pandas as pd
df2012=pd.DataFrame(index=b2012)
df2012['Year']=2012
df2012.index.name='Names'
df2013=pd.DataFrame(index=b2013)
df2013['Year']=2013
df2013.index.name='Names'
df2014=pd.DataFrame(index=b2014)
df2014['Year']=2014
df2014.index.name='Names'
df=pd.concat([df2012,df2013,df2014])
df.index.name='Names'
print(df)

                  Year
Names
Calista Berry     2012
Charissa Bridges  2012
Frances Hamilton  2012
Moses Pitts       2012
Adrienne Austin   2012
Susan Nixon       2012
September Travis  2012
Asher Mays        2012
Kasper Mckenzie   2012
Colton Chase      2012
Asher Mays        2013
Wayne Garrison    2013
Charissa Bridges  2013
Moses Pitts       2013
Colton Chase      2013
Susan Nixon       2013
September Travis  2013
Grace Dodson      2013
Remedios Trevino  2013
Susan Nixon       2014
September Travis  2014
Remedios Trevino  2014
Zephania Ellison  2014
Imani Small       2014
Grace Dodson      2014
Adrienne Austin   2014
Asher Mays        2014
Wayne Garrison    2014
Charissa Bridges  2014
Ray Miranda       2014
Donna Acevedo     2014

In [200]:
import numpy as np
pvt=pd.pivot_table(data=df, index=['Names'],columns=['Year'],aggfunc = 'size', fill_value=0)
pvt['Total']=pvt.apply(np.sum,axis=1)
print(pvt)

Year              2012  2013  2014  Total
Names
Adrienne Austin      1     0     1      2
Asher Mays           1     1     1      3
Calista Berry        1     0     0      1
Charissa Bridges     1     1     1      3
Colton Chase         1     1     0      2
Donna Acevedo        0     0     1      1
Frances Hamilton     1     0     0      1
Grace Dodson         0     1     1      2
Imani Small          0     0     1      1
Kasper Mckenzie      1     0     0      1
Moses Pitts          1     1     0      2
Ray Miranda          0     0     1      1
Remedios Trevino     0     1     1      2
September Travis     1     1     1      3
Susan Nixon          1     1     1      3
Wayne Garrison       0     1     1      2
Zephania Ellison     0     0     1      1

In [212]:
import pandas as pd
df2012=pd.DataFrame(index=b2012)
df2012['Year']=2012
df2012.index.name='Names'
df2013=pd.DataFrame(index=b2013)
df2013['Year']=2013
df2013.index.name='Names'
df2014=pd.DataFrame(index=b2014)
df2014['Year']=2014
df2014.index.name='Names'
df=pd.concat([df2012,df2013,df2014])
df.index.name='Names'
df = df.reset_index()
z = pd.crosstab(index=df['Names'], columns=df['Year'],margins=True)
print(z)

Year              2012  2013  2014  All
Names
Adrienne Austin      1     0     1    2
Asher Mays           1     1     1    3
Calista Berry        1     0     0    1
Charissa Bridges     1     1     1    3
Colton Chase         1     1     0    2
Donna Acevedo        0     0     1    1
Frances Hamilton     1     0     0    1
Grace Dodson         0     1     1    2
Imani Small          0     0     1    1
Kasper Mckenzie      1     0     0    1
Moses Pitts          1     1     0    2
Ray Miranda          0     0     1    1
Remedios Trevino     0     1     1    2
September Travis     1     1     1    3
Susan Nixon          1     1     1    3
Wayne Garrison       0     1     1    2
Zephania Ellison     0     0     1    1
All                 10     9    12   31