https://the-bilgepumps.simplecast.com/

In [4]:
import pandas as pd

data = {'Category': ['A', 'B', 'A', 'B', 'A'],
        'Value': [10, 15, 20, 25, 30]}

df = pd.DataFrame(data)
print(df)

  Category  Value
0        A     10
1        B     15
2        A     20
3        B     25
4        A     30

In [5]:
# Group by 'Category' and calculate the sum of 'Value' for each group
grouped = df.groupby('Category')['Value'].sum()
print(grouped)

Category
A    60
B    40
Name: Value, dtype: int64

In [6]:
data = {'Category': ['A', 'B', 'A', 'B', 'A'],
        'Subcategory': ['X', 'Y', 'X', 'Y', 'X'],
        'Value': [10, 15, 20, 25, 30]}

df = pd.DataFrame(data)

# Group by both 'Category' and 'Subcategory' and calculate the sum of 'Value' for each group
grouped = df.groupby(['Category', 'Subcategory'])['Value'].sum()
print(grouped)

Category  Subcategory
A         X              60
B         Y              40
Name: Value, dtype: int64

In [7]:
# Group by 'Category' and calculate both the sum and mean of 'Value' for each group
grouped = df.groupby('Category')['Value'].agg(['sum', 'mean'])
print(grouped)

          sum  mean
Category
A          60  20.0
B          40  20.0

In [9]:
# Define a custom aggregation function
def custom_range(x):
    return x.max() - x.min()

# Group by 'Category' and apply the custom aggregation function
grouped = df.groupby('Category')['Value'].agg(custom_range)
print(grouped)

Category
A    20
B    10
Name: Value, dtype: int64

In [10]:
# Group by 'Category'
grouped = df.groupby('Category')

# Iterate over groups and print details
for name, group in grouped:
    print(f"Category: {name}")
    print(group)
    print()

Category: A
  Category Subcategory  Value
0        A           X     10
2        A           X     20
4        A           X     30

Category: B
  Category Subcategory  Value
1        B           Y     15
3        B           Y     25

In [11]:
# Define a custom z-score function
def z_score(x):
    return (x - x.mean()) / x.std()

# Group by 'Category' and calculate z-scores within each group
df['Value_zscore'] = df.groupby('Category')['Value'].transform(z_score)
print(df)

  Category Subcategory  Value  Value_zscore
0        A           X     10     -1.000000
1        B           Y     15     -0.707107
2        A           X     20      0.000000
3        B           Y     25      0.707107
4        A           X     30      1.000000