https://medium.com/@shouke.wei/data-visualization-with-hvplot-iii-interactive-multiple-plots-e73124742df4

In [5]:
# pip install hvplot
import pandas as pd
import hvplot.pandas

ModuleNotFoundError: No module named 'hvplot'

In [3]:
url = 'https://raw.githubusercontent.com/shoukewei/data/main/data-pydm/gdp_top_six_economies.csv'
df = pd.read_csv(url) 
df.head()

,Year,China,Germany,India,Japan,United Kingdom,United States
0,1991,3.833733e+11,1.868945e+12,2.701053e+11,3.584420e+12,1.142797e+12,6.158129e+12
1,1992,4.269157e+11,2.131572e+12,2.882084e+11,3.908809e+12,1.179660e+12,6.520327e+12
2,1993,4.447313e+11,2.071324e+12,2.792960e+11,4.454144e+12,1.061389e+12,6.858559e+12
3,1994,5.643247e+11,2.205074e+12,3.272756e+11,4.998798e+12,1.140490e+12,7.287236e+12
4,1995,7.345479e+11,2.585792e+12,3.602820e+11,5.545564e+12,1.346423e+12,7.639749e+12

In [4]:
df.hvplot(x='Year',
          y = ['United States', 'China', 'Japan','Germany','United Kingdom','India'],
          ylabel= 'GDP (current US$)',
          width=700, height=400,
          title="GDP of World top 6 Economies",
          group_label='GDP',
          legend='top_left')

AttributeError: 'DataFrame' object has no attribute 'hvplot'