https://towardsdatascience.com/5-ways-to-apply-if-else-conditional-statements-in-pandas-b9627e5f475b

In [4]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'Customer_ID':[1,2,3,4,5,11,12],
                   'gender':['F','M','F','F','F','F','M'],
                   'visits_30days':[0,0,2,5,10,8,5]})
df['visits_category'] = np.where(df['visits_30days']== 0, 'YES', 'NO')
display(df)

   Customer_ID gender  visits_30days visits_category
0            1      F              0             YES
1            2      M              0             YES
2            3      F              2              NO
3            4      F              5              NO
4            5      F             10              NO
5           11      F              8              NO
6           12      M              5              NO

In [6]:
df['visits_category'] = df['visits_30days'].apply(lambda x: 'YES' if x == 0 else 'NO')
print(df)

   Customer_ID gender  visits_30days visits_category
0            1      F              0             YES
1            2      M              0             YES
2            3      F              2              NO
3            4      F              5              NO
4            5      F             10              NO
5           11      F              8              NO
6           12      M              5              NO

In [9]:
#Create a python list to specify all the conditions
conditions = [
    (df['visits_30days'] == 0),
    (df['visits_30days'] > 0) & (df['visits_30days'] <= 5),
    (df['visits_30days'] > 5) & (df['visits_30days'] <= 10),
    (df['visits_30days'] > 10)
    ]

#create a python list of values to be assigned to the conditions
values = ['0 visits', '1-5 visits', '6-10 visits', '>10 visits']
# use np.select() to create a new column
df['visits_category'] = np.select(conditions, values)
print(df)

   Customer_ID gender  visits_30days visits_category
0            1      F              0        0 visits
1            2      M              0        0 visits
2            3      F              2      1-5 visits
3            4      F              5      1-5 visits
4            5      F             10     6-10 visits
5           11      F              8     6-10 visits
6           12      M              5      1-5 visits

In [11]:
def conditions(row):
    if row['visits_30days'] == 0:
        val = '0 visits'
    elif row['visits_30days'] >0 & row['visits_30days']<=5:
        val = '1-5 visits'
    elif row['visits_30days'] >5 & row['visits_30days']<=10:
        val = '5-10 visits'  
    elif row['visits_30days'] >10:
        val = '>10 visits'  
    else:
        val = 'NA'
    return val

#Apply the function to each data point in the data frame
df['visits_category']= df.apply(conditions, axis=1)
print(df)

   Customer_ID gender  visits_30days visits_category
0            1      F              0        0 visits
1            2      M              0        0 visits
2            3      F              2      1-5 visits
3            4      F              5      1-5 visits
4            5      F             10      1-5 visits
5           11      F              8      1-5 visits
6           12      M              5      1-5 visits

In [13]:
df.loc[(df['visits_30days'] == 0), 'visits_category'] = '0 visits' 
df.loc[(df['visits_30days'] > 0) & (df['visits_30days'] <= 5), 'visits_category'] = '1-5 visits' 
df.loc[(df['visits_30days'] > 5) & (df['visits_30days'] <= 10), 'visits_category'] = '5-10 visits'  
df.loc[(df['visits_30days'] > 10) , 'visits_category'] = '>10 visits'  
print(df)

   Customer_ID gender  visits_30days visits_category
0            1      F              0        0 visits
1            2      M              0        0 visits
2            3      F              2      1-5 visits
3            4      F              5      1-5 visits
4            5      F             10     5-10 visits
5           11      F              8     5-10 visits
6           12      M              5      1-5 visits