https://medium.com/@HalderNilimesh/analytics-for-beginners-using-python-how-to-perform-join-and-merge-in-pandas-dataframe-7c267c055d61

In [1]:
import pandas as pd

df1 = pd.DataFrame({
    'key': ['A', 'B', 'C', 'D'],
    'value': [1, 2, 3, 4]
})
df2 = pd.DataFrame({
    'key': ['B', 'D', 'E', 'F'],
    'value': [5, 6, 7, 8]
})

In [2]:
merged_inner = pd.merge(left=df1, right=df2, on='key', how='inner')
print(merged_inner)

  key  value_x  value_y
0   B        2        5
1   D        4        6

In [3]:
merged_left = pd.merge(left=df1, right=df2, on='key', how='left')
print(merged_left)

  key  value_x  value_y
0   A        1      NaN
1   B        2      5.0
2   C        3      NaN
3   D        4      6.0

In [4]:
merged_right = pd.merge(left=df1, right=df2, on='key', how='right')
print(merged_right)

  key  value_x  value_y
0   B      2.0        5
1   D      4.0        6
2   E      NaN        7
3   F      NaN        8

In [5]:
import pandas as pd

df1 = pd.DataFrame({
    'key': ['A', 'B', 'C', 'D'],
    'value1': [1, 2, 3, 4]
})

df2 = pd.DataFrame({
    'key': ['B', 'D', 'E', 'F'],
    'value2': [5, 6, 7, 8]
})

In [6]:
merged = df1.join(df2.set_index('key'), on='key')
print(merged)

  key  value1  value2
0   A       1     NaN
1   B       2     5.0
2   C       3     NaN
3   D       4     6.0

In [7]:
left = pd.DataFrame(
    {"A": ["A0", "A1", "A2"], "B": ["B0", "B1", "B2"]}, index=["K0", "K1", "K2"]
)


right = pd.DataFrame(
    {"C": ["C0", "C2", "C3"], "D": ["D0", "D2", "D3"]}, index=["K0", "K2", "K3"]
)


result = left.join(right, how="inner")
display(result)

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C2  D2