In [3]:
import pandas as pd
iris =pd.read_csv("Iris.csv")
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
iris['Species'] = iris['Species'].apply(lambda x: x.strip())
iris.Species

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [7]:
iris['SepalLengthCm'] = iris['SepalLengthCm'].apply(lambda x: int(x))
iris.SepalLengthCm

0      5
1      4
2      4
3      4
4      5
      ..
145    6
146    6
147    6
148    6
149    5
Name: SepalLengthCm, Length: 150, dtype: int64

In [9]:
iris['PetalLengthCm'] = iris['PetalLengthCm'].apply(lambda x: x if x is not None else 0.0)
iris.PetalLengthCm

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: PetalLengthCm, Length: 150, dtype: float64

In [11]:
import re
iris['Species'] = iris['Species'].apply(lambda x: re.sub(r'[^\w\s]','',x))
iris.Species

0         Irissetosa
1         Irissetosa
2         Irissetosa
3         Irissetosa
4         Irissetosa
           ...
145    Irisvirginica
146    Irisvirginica
147    Irisvirginica
148    Irisvirginica
149    Irisvirginica
Name: Species, Length: 150, dtype: object

In [12]:
iris['Species'] = iris['Species'].apply(lambda x: x.lower())
iris.Species

0         irissetosa
1         irissetosa
2         irissetosa
3         irissetosa
4         irissetosa
           ...
145    irisvirginica
146    irisvirginica
147    irisvirginica
148    irisvirginica
149    irisvirginica
Name: Species, Length: 150, dtype: object

In [13]:
select_column = lambda df, col_name: df[col_name]
iris['PetalLengthCm'] = select_column(iris, 'PetalLengthCm')

In [16]:
def multiply(row):
    return row['SepalLengthCm'] * row['SepalWidthCm']
    
iris['sepal_area'] = iris.apply(lambda row: multiply(row), axis=1)
iris['sepal_area']

0      17.5
1      12.0
2      12.8
3      12.4
4      18.0
       ...
145    18.0
146    15.0
147    18.0
148    20.4
149    15.0
Name: sepal_area, Length: 150, dtype: float64

In [17]:
iris_filtered = iris[lambda x: x['SepalLengthCm'] > 6.0]
iris_filtered

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,sepal_area
50,51,7,3.2,4.7,1.4,irisversicolor,22.4
102,103,7,3.0,5.9,2.1,irisvirginica,21.0
105,106,7,3.0,6.6,2.1,irisvirginica,21.0
107,108,7,2.9,6.3,1.8,irisvirginica,20.3
109,110,7,3.6,6.1,2.5,irisvirginica,25.2
117,118,7,3.8,6.7,2.2,irisvirginica,26.6
118,119,7,2.6,6.9,2.3,irisvirginica,18.2
122,123,7,2.8,6.7,2.0,irisvirginica,19.6
125,126,7,3.2,6.0,1.8,irisvirginica,22.4
129,130,7,3.0,5.8,1.6,irisvirginica,21.0
130,131,7,2.8,6.1,1.9,irisvirginica,19.6
131,132,7,3.8,6.4,2.0,irisvirginica,26.6
135,136,7,3.0,6.1,2.3,irisvirginica,21.0

In [18]:
iris_sorted = iris.sort_values(by='PetalLengthCm', ascending=False)
iris_sorted

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,sepal_area
118,119,7,2.6,6.9,2.3,irisvirginica,18.2
122,123,7,2.8,6.7,2.0,irisvirginica,19.6
117,118,7,3.8,6.7,2.2,irisvirginica,26.6
105,106,7,3.0,6.6,2.1,irisvirginica,21.0
131,132,7,3.8,6.4,2.0,irisvirginica,26.6
...,...,...,...,...,...,...,...
36,37,5,3.5,1.3,0.2,irissetosa,17.5
35,36,5,3.2,1.2,0.2,irissetosa,16.0
14,15,5,4.0,1.2,0.2,irissetosa,20.0
13,14,4,3.0,1.1,0.1,irissetosa,12.0
22,23,4,3.6,1.0,0.2,irissetosa,14.4

In [20]:
iris_grouped = iris.groupby('Species').mean()
iris_grouped

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,sepal_area
Species,,,,,,
irissetosa,25.5,4.60,3.418,1.464,0.244,15.844
irisversicolor,75.5,5.48,2.770,4.260,1.326,15.246
irisvirginica,125.5,6.08,2.974,5.552,2.026,18.164

In [21]:
iris['petal_area'] = iris['PetalLengthCm'].apply(lambda x: x**2)
iris['petal_area']

0       1.96
1       1.96
2       1.69
3       2.25
4       1.96
       ...
145    27.04
146    25.00
147    27.04
148    29.16
149    26.01
Name: petal_area, Length: 150, dtype: float64

In [22]:
iris['sepal_dimensions'] = iris.apply(lambda row: f"{row['SepalLengthCm']} x {row['SepalWidthCm']}", axis=1)
iris['sepal_dimensions']

0      5 x 3.5
1      4 x 3.0
2      4 x 3.2
3      4 x 3.1
4      5 x 3.6
        ...
145    6 x 3.0
146    6 x 2.5
147    6 x 3.0
148    6 x 3.4
149    5 x 3.0
Name: sepal_dimensions, Length: 150, dtype: object

In [24]:
num_list = [1, 2, 3, 4, 5]
mean = lambda x: sum(x)/len(x)
result = mean(num_list)
print(result)

3.0

In [25]:
num_list = [1, 2, 3, 4, 5]
median = lambda x: sorted(x)[len(x)//2] if len(x)%2!=0 else (sorted(x)[len(x)//2] + sorted(x)[(len(x)//2)-1])/2
result = median(num_list)
print(result)

3

In [27]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
func = lambda x: sum(x)/len(x)
result = list(map(func, nested_list))
print(result)

[2.0, 5.0, 8.0]

In [28]:
num_list = [1, 2, 3, 4, 5]
mean = lambda x: sum(x)/len(x)
variance = lambda x: sum([(i-mean(x))**2 for i in x])/len(x)
result = variance(num_list)
print(result)

2.0