https://towardsdatascience.com/10-most-frequently-asked-python-list-questions-on-stack-overflow-5bfd71c8771b

In [1]:
names = ["John", "Jane", "Ashley"]

for idx, x in enumerate(names):
    print(idx, x)

0 John
1 Jane
2 Ashley

In [2]:
names = ["John", "Jane", "Ashley"]

for idx, x in enumerate(names, start=10):
    print(idx, x)

10 John
11 Jane
12 Ashley

In [3]:
# using list comprehension
mylist = [
    [1, 5, 3],
    [4, 2, 1],
    [5, 6]
]

myflatlist = [item for sublist in mylist for item in sublist]

print(myflatlist)

[1, 5, 3, 4, 2, 1, 5, 6]

In [4]:
# using for loops
mylist = [
    [1, 5, 3],
    [4, 2, 1],
    [5, 6]
]

myflatlist = []

for sublist in mylist:
    for item in sublist:
        myflatlist.append(item)
        
print(myflatlist)

[1, 5, 3, 4, 2, 1, 5, 6]

In [6]:
# using the explode function
import pandas as pd

myflatlist = list(pd.Series(mylist).explode())

print(myflatlist)

[1, 5, 3, 4, 2, 1, 5, 6]

In [7]:
names = ["John", "Jane", "Ashley", "Max", "Jane"]

# item with index 2 (i.e. the third item)
names[2]

'Ashley'

In [8]:
names = ["John", "Jane", "Ashley", "Max", "Jane"]

names.index("Ashley")

2

In [9]:
names = ["John", "Jane", "Ashley", "Max", "Jane", "Abby", "Jane"]

janes_indexes = [idx for idx, item in enumerate(names) if item == "Jane"]

print(janes_indexes)

[1, 4, 6]

In [10]:
list_1 = [1, 3, 4]
list_2 = [12, 23, 30]

combined = list_1 + list_2

print(combined)

[1, 3, 4, 12, 23, 30]

In [11]:
list_1 = [1, 3, 4]
list_2 = [12, 23, 30]

list_1.extend(list_2)

print(list_1) # list_1 is now the combined list, list_2 remains the same

[1, 3, 4, 12, 23, 30]

In [12]:
names = []

if not names:
    print("list is not empty!")

list is not empty!

In [13]:
names = ["Jane", "Max", "Ashley"]

names.append("John")

print(names)

['Jane', 'Max', 'Ashley', 'John']

In [14]:
names = ["Jane", "Max", "Ashley"]

new_names = ["John", "Adam"]

names.append(new_names)

print(names)

['Jane', 'Max', 'Ashley', ['John', 'Adam']]

In [15]:
names = ["Jane", "Max", "Ashley"]

new_names = ["John", "Adam"]

names.extend(new_names)

print(names)

['Jane', 'Max', 'Ashley', 'John', 'Adam']

In [16]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
chunk_size = 4

[mylist[i:i + chunk_size] for i in range(0, len(mylist), chunk_size)]

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [17]:
employees = [
    {"name": "Max", "department": "sales"},
    {"name": "Jane", "department": "engineering"},
    {"name": "Ashley", "department": "hr"}
]

In [18]:
employees_sorted = sorted(employees, key = lambda x: x["name"])

employees_sorted

[{'name': 'Ashley', 'department': 'hr'},
 {'name': 'Jane', 'department': 'engineering'},
 {'name': 'Max', 'department': 'sales'}]

In [20]:
names = ["Jane", "Adam", "Matt", "Jennifer"]

print(names[-1])
print(names[0])

Jennifer
Jane

In [21]:
import random

names = ["Jane", "Adam", "Matt", "Jennifer", "Abby"]

random.choice(names)

'Matt'

In [22]:
import random

names = ["Jane", "Adam", "Matt", "Jennifer", "Abby"]

random.sample(names, 2) # random sample with 2 items

['Abby', 'Jane']