https://towardsdatascience.com/6-things-that-you-probably-didnt-know-you-could-do-with-pandas-d365b3362a55

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from base64 import b64encode
from io import BytesIO
from IPython.display import HTML

%matplotlib inline

In [2]:
n = 100

data = [
    ('Bitcoin',   40000*np.random.rand(n).round(2)), 
    ('Ethereum',   2000*np.random.rand(n).round(2)), 
    ('BNB',     500*np.random.rand(n).round(2)),
    ('Litecoin',   150*np.random.rand(n).round(2)),
    
]
df = pd.DataFrame(data, columns=['Name', 'Price History'])
df.head()

       Name                                      Price History
0   Bitcoin  [30800.0, 8800.0, 16400.0, 35600.0, 16800.0, 2...
1  Ethereum  [480.0, 980.0, 880.0, 780.0, 0.0, 1320.0, 200....
2       BNB  [310.0, 90.0, 485.0, 35.0, 245.0, 390.0, 25.0,...
3  Litecoin  [117.0, 108.0, 99.0, 73.5, 61.49999999999999, ...

In [4]:
def create_line(data, **kwags):
    
    # Convert data to a list
    data = list(data)
    
    # Create a figure and axis object with given size and keyword arguments
    fig, ax = plt.subplots(1, 1, figsize=(3, 0.25), **kwags)
    
    # Plot the data
    ax.plot(data)
    
    # Remove the spines from the plot
    for k,v in ax.spines.items():
        v.set_visible(False)
        
    # Remove the tick marks from the x and y axes
    ax.set_xticks([])
    ax.set_yticks([])
    
    # Plot a red dot at the last point of the data
    plt.plot(len(data) - 1, data[len(data) - 1], 'r.')
    
    # Fill the area under the plot with alpha=0.1
    ax.fill_between(range(len(data)), data, len(data)*[min(data)], alpha=0.1)
    
    # Close the plot to prevent displaying it
    plt.close(fig)
    
    # Save the plot image as png and get its binary data
    img = BytesIO()    
    fig.savefig(img, format='png')
    encoded = b64encode(img.getvalue()).decode('utf-8')  
    
    # Return the encoded image data as an HTML image tag
    return '<img src="data:image/png;base64,{}"/>'.format(encoded)

In [5]:
df['Price History Line']  = df['Price History'].apply(create_line)
HTML(df.drop(columns = ["Price History"]).to_html(escape=False))

In [6]:
# !pip install pandas_flavor

ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'c:\\programdata\\anaconda3\\lib\\site-packages\\packaging-20.4.dist-info\\INSTALLER'
Consider using the `--user` option or check the permissions.

Collecting pandas_flavor
  Downloading pandas_flavor-0.5.0-py3-none-any.whl (7.1 kB)
Requirement already satisfied: pandas>=0.23 in c:\programdata\anaconda3\lib\site-packages (from pandas_flavor) (1.1.3)
Collecting xarray
  Downloading xarray-2023.1.0-py3-none-any.whl (973 kB)
Collecting lazy-loader>=0.1
  Downloading lazy_loader-0.2-py3-none-any.whl (8.6 kB)
Requirement already satisfied: numpy>=1.15.4 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas_flavor) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas_flavor) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas_flavor) (2020.1)
Collecting packaging>=21.3
  Downloading packaging-23.1-py3-none-any.whl (48 kB)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_flavor) (1.15.0)
Installing collected packages: packaging, xarray, lazy-loader, pandas-flavor
  Attempting uninstall: packaging
    Found existing installation: packaging 20.4
    Uninstalling packaging-20.4:

In [8]:
# my_pandas.py

import pandas as pd
import pandas_flavor as pf

@pf.register_dataframe_method
def add_row(df, row):
    
    df.loc[len(df)] = row

In [9]:
df = pd.DataFrame([["Mercury", 1], 
                   ["Venus",   2]],
                   columns = ["Planet", "Position"])

In [11]:
#import my_pandas

new_row = ["Earth", 3]
df.add_row(new_row)

print(df)

    Planet  Position
0  Mercury         1
1    Venus         2
2    Earth         3

In [12]:
from dataclasses import dataclass

@dataclass
class Point:
    x_loc: int
    y_loc: intpoints = [Point(1, 2),
          Point(4, 5),
          Point(3, 7)]

In [13]:
points = [Point(1, 2),
          Point(4, 5),
          Point(3, 7)]

In [14]:
points = [Point(1, 2),
          Point(4, 5),
          Point(3, 7)]

In [15]:
from tqdm.notebook import tqdm
tqdm.pandas()

C:\ProgramData\Anaconda3\lib\site-packages\tqdm\std.py:697: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [40]:
from time import sleep
df = pd.DataFrame({"name":[1,2,3,4,5,6,7,8,9]})
def my_func(x):
    sleep(0.1)
df.progress_apply(my_func,axis=1)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=9.0), HTML(value='')))

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
dtype: object

In [30]:
"_".join((str(n)  for n in range(100)))

'0_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26_27_28_29_30_31_32_33_34_35_36_37_38_39_40_41_42_43_44_45_46_47_48_49_50_51_52_53_54_55_56_57_58_59_60_61_62_63_64_65_66_67_68_69_70_71_72_73_74_75_76_77_78_79_80_81_82_83_84_85_86_87_88_89_90_91_92_93_94_95_96_97_98_99'

In [41]:
df = pd.DataFrame([['Roy', 25, 50000],
                   ['Bob', 30, 60000],
                   ['Joe', 35, 70000]], 
                   columns = ["Names", "Age", "Salary"])

In [42]:
caption = 'This is a caption'

df.style.set_caption(caption)

In [43]:
df.style.format({"Height": "{:20,.0f} cm", 
                 "Weight": "{:20,.0f} kgs",
                 "Saving":"${:20,.0f}"})

Additionally, you may also explore the open-source package PrettyPandas, which extends the styler class with many more interesting utilities.