In [12]:
from datetime import datetime
from dateutil import relativedelta

# two dates

d1='4/8/1885'
d2='30/12/1885'

start_date = datetime.strptime(d1,"%d/%m/%Y")
end_date = datetime.strptime(d2, "%d/%m/%Y")

# Get the relativedelta between two dates
delta = relativedelta.relativedelta(end_date, start_date)
print('Years, Months, Days between two dates is')
print(delta.years, 'Years,', delta.months, 'months,', delta.days, 'days')

Years, Months, Days between two dates is
0 Years, 4 months, 26 days

In [25]:
def td(start, end):
    start_date = datetime.strptime(start,"%d/%m/%Y")
    end_date = datetime.strptime(end, "%d/%m/%Y")

    # Get the relativedelta between two dates
    delta = relativedelta.relativedelta(end_date, start_date)
    s = f'{delta.years} Years, {delta.months} months, {delta.days} days'
    return s
    
z=td(d1,d2)
print(z)

0 Years, 4 months, 26 days

In [26]:
import pandas as pd
louis=pd.DataFrame(
[['Fort Riley KS','4/8/1885','30/12/1885'],
 ['Fort Yates','31/12/1885','16/10/1886'],
 ['Fort Riley','17/7/1888', '8/10/1892'],
],
columns=['Fort','StartDate',"EndDate"]
)
display(louis)

            Fort   StartDate     EndDate
0  Fort Riley KS    4/8/1885  30/12/1885
1     Fort Yates  31/12/1885  16/10/1886
2     Fort Riley   17/7/1888   8/10/1892

In [27]:
#louis['Duration'] = louis.apply(lambda x: td(x['StartDate'],x['EndDate']))
import numpy as np

louis['Duration'] = np.vectorize(td)(louis['StartDate'], louis['EndDate'])
print(louis)

            Fort   StartDate     EndDate                    Duration
0  Fort Riley KS    4/8/1885  30/12/1885  0 Years, 4 months, 26 days
1     Fort Yates  31/12/1885  16/10/1886  0 Years, 9 months, 16 days
2     Fort Riley   17/7/1888   8/10/1892  4 Years, 2 months, 21 days

In [30]:
louis.drop(['Duration'],axis=1)

            Fort   StartDate     EndDate
0  Fort Riley KS    4/8/1885  30/12/1885
1     Fort Yates  31/12/1885  16/10/1886
2     Fort Riley   17/7/1888   8/10/1892