https://python.plainenglish.io/joining-and-merging-data-with-pandas-81b5eac0b7f3

In [28]:
orders=pd.DataFrame({"order_id":[1,2,3,4],"customer_id":[1,2,1,3],"item":["Book","Computer","Headphones","Phone"]})
customers=pd.DataFrame({"customer_id":[1,2,3],"name":['Alice','Bob','Eve']})
print(orders)
print(customers)

   order_id  customer_id        item
0         1            1        Book
1         2            2    Computer
2         3            1  Headphones
3         4            3       Phone
   customer_id   name
0            1  Alice
1            2    Bob
2            3    Eve

In [29]:
import pandas as pd
merged = pd.merge(customers, orders, on='customer_id')
print(merged)

   customer_id   name  order_id        item
0            1  Alice         1        Book
1            1  Alice         3  Headphones
2            2    Bob         2    Computer
3            3    Eve         4       Phone

In [30]:
merged = pd.merge(customers, orders, on='customer_id', how='left')
print(merged)

   customer_id   name  order_id        item
0            1  Alice         1        Book
1            1  Alice         3  Headphones
2            2    Bob         2    Computer
3            3    Eve         4       Phone

In [31]:
df1=pd.DataFrame({"Name":["John","John","Ken"],"Event":["A","B","A"],"Factor1":[2,3,1.5]})
df2=pd.DataFrame({"Name":["John","John","Ken"],"Event":["A","B","A"],"Factor2":[1.2,0.5,2]})
merged=df1.merge(df2,on=['Name','Event'])
print(merged)
#merged = pd.merge(customers, orders, on=['customer_id', 'item'])
#print(merged)

   Name Event  Factor1  Factor2
0  John     A      2.0      1.2
1  John     B      3.0      0.5
2   Ken     A      1.5      2.0

In [32]:
merged = pd.merge(customers, orders, left_index=True, right_index=True)
print(merged)

   customer_id_x   name  order_id  customer_id_y        item
0              1  Alice         1              1        Book
1              2    Bob         2              2    Computer
2              3    Eve         3              1  Headphones

In [44]:
orders=pd.DataFrame({"order_id":[1,2,3,4],"customer_id":[1,2,1,3],"item":["Book","Computer","Headphones","Phone"],"name":['Mark','Craig','Tim','Pat']})
customers=pd.DataFrame({"customer_id":[1,2,3],"name":['Alice','Bob','Eve']})
merged = pd.merge(customers, orders, on='customer_id',suffixes=['_customer', '_order'])
print(merged)
print(pd.merge(customers, orders, on='customer_id',suffixes=['_1','_2']))
# df=pd.merge(df1,df2,on='key', suffixes=['_1','_2'])
# I am not getting what I think I should
# It turns out merge tries to help you.
# It does not add the suffix on the merged column

   customer_id name_customer  order_id        item name_order
0            1         Alice         1        Book       Mark
1            1         Alice         3  Headphones        Tim
2            2           Bob         2    Computer      Craig
3            3           Eve         4       Phone        Pat
   customer_id name_1  order_id        item name_2
0            1  Alice         1        Book   Mark
1            1  Alice         3  Headphones    Tim
2            2    Bob         2    Computer  Craig
3            3    Eve         4       Phone    Pat

In [34]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],'value': [1, 2, 3, 5]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],'value': [5, 6, 7, 8]})
df1.merge(df2, left_on='lkey', right_on='rkey')

  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  foo        5  foo        5
3  foo        5  foo        8
4  bar        2  bar        6
5  baz        3  baz        7

In [35]:
df1.merge(df2, left_on='lkey', right_on='rkey',suffixes=('_left', '_right'))

  lkey  value_left rkey  value_right
0  foo           1  foo            5
1  foo           1  foo            8
2  foo           5  foo            5
3  foo           5  foo            8
4  bar           2  bar            6
5  baz           3  baz            7

In [39]:
import pandas as pd
df1 = pd.DataFrame(data = [[1,1],[3,1],[5,1]], columns = ['key','val'])
df2 = pd.DataFrame(data = [[1,2],[3,2],[7,2]], columns = ['key','val'])
df3 = pd.DataFrame(data = [[1,3],[2,3],[4,3]], columns = ['key','val'])
# df = pd.merge(pd.merge(df1,df2,on='key', suffixes=['_1','_2']),df3,on='key',suffixes=[None,'_3'])
df=pd.merge(df1,df2,on='key', suffixes=['_1','_2'])

In [40]:
print(df)

   key  val_1  val_2
0    1      1      2
1    3      1      2

In [45]:
#merged = pd.merge(customers, orders, left_on='customer_id', right_on='order_date')

KeyError: 'order_date'