https://medium.com/codex/python-one-liner-functions-you-should-know-and-implement-db6afec1df70

In [2]:
#import packages 
import pandas as pd
import numpy as np
# creating a series 
s = pd.Series(['Math', 'Science', 'Computer'])
print(s)
# Output of s
#0        Math
#1     Science
#2    Computer
# mapping value of a series 
s = s.map({'Math': 'Algebra', 'Science':'Physics', 'Computer': 'Python'})
print(s)
# output 
#0    Algebra
#1    Physics
#2     Python

0        Math
1     Science
2    Computer
dtype: object
0    Algebra
1    Physics
2     Python
dtype: object

In [6]:
Salary = pd.DataFrame({"Name":["John","Ryan","Rajat","Chen"],"Salary_USD_thousands":[100,70,150,140],"Education":["HS Graduate","1to2_yr_college","3to4_yr_college","Graduate"]})
print(df)

    Name  Salary_USD_thousands        Education
0   John                   100      HS Graduate
1   Ryan                    70  1to2_yr_college
2  Rajat                   150  3to4_yr_college
3   Chen                   140         Graduate

In [8]:
Salary['Education_ordinal'] = Salary['Education'].\
                   map({'HS Graduate':1,'1to2_yr_college':2,
                        '3to4_yr_college':3,'Graduate':4})
print(Salary)

    Name  Salary_USD_thousands        Education  Education_ordinal
0   John                   100      HS Graduate                  1
1   Ryan                    70  1to2_yr_college                  2
2  Rajat                   150  3to4_yr_college                  3
3   Chen                   140         Graduate                  4

In [12]:
review = pd.DataFrame({"feature_A":["Great","Loved it","Could have been better"],"feature_B":["didn't like it","Bad","not good"]})
print(review)

                feature_A       feature_B
0                   Great  didn't like it
1                Loved it             Bad
2  Could have been better        not good

In [13]:
#import packages 
import pandas as pd
import numpy as np
review = review.applymap(lambda x: len(x))
print(review)

   feature_A  feature_B
0          5         14
1          8          3
2         22          8

In [14]:
measurement=pd.DataFrame({"x":[1,5,10,7,8,3],"y":[9,7,8,10,5,8],"z":[2,3,3,4,8,4]})
print(measurement)

    x   y  z
0   1   9  2
1   5   7  3
2  10   8  3
3   7  10  4
4   8   5  8
5   3   8  4

In [16]:
measurement_sq = measurement.apply(np.square)
print(measurement_sq)

     x    y   z
0    1   81   4
1   25   49   9
2  100   64   9
3   49  100  16
4   64   25  64
5    9   64  16

In [17]:
measurement_col = measurement.apply(np.sum, axis = 0)
print(measurement_col)

x    34
y    47
z    24
dtype: int64

In [18]:
measurement_row = measurement.apply(np.sum, axis = 1)
print(measurement_row)

0    12
1    15
2    21
3    21
4    21
5    15
dtype: int64