https://towardsdatascience.com/introduction-to-pandas-apply-applymap-and-map-5d3e044e93ff

In [37]:
import pandas as pd
df = pd.DataFrame({ 'A': [1,2,3,4], 
                   'B': [10,20,30,40],
                   'C': [20,40,60,80]
                  }, 
                  index=['Row 1', 'Row 2', 'Row 3', 'Row 4'])

In [38]:
# Let's call this "custom_sum" as "sum" is a built-in function
def custom_sum(row):
    return row.sum()
df['D'] = df.apply(custom_sum, axis=1)
print(df)

       A   B   C    D
Row 1  1  10  20   31
Row 2  2  20  40   62
Row 3  3  30  60   93
Row 4  4  40  80  124

In [39]:
df.loc['Row 5'] = df.apply(custom_sum, axis=0)
print(df)

        A    B    C    D
Row 1   1   10   20   31
Row 2   2   20   40   62
Row 3   3   30   60   93
Row 4   4   40   80  124
Row 5  10  100  200  310

In [40]:
def multiply_by_2(val):
    return val * 2
df['D'] = df['C'].apply(multiply_by_2)
print(df)

        A    B    C    D
Row 1   1   10   20   40
Row 2   2   20   40   80
Row 3   3   30   60  120
Row 4   4   40   80  160
Row 5  10  100  200  400

In [41]:
import pandas as pd
df = pd.DataFrame({ 'A': [1,2,3,4], 
                   'B': [10,20,30,40],
                   'C': [20,40,60,80]
                  }, 
                  index=['Row 1', 'Row 2', 'Row 3', 'Row 4'])
df['D'] = df.apply(lambda x:x.sum(), axis=1)
print(df)

       A   B   C    D
Row 1  1  10  20   31
Row 2  2  20  40   62
Row 3  3  30  60   93
Row 4  4  40  80  124

In [42]:
import pandas as pd
df = pd.DataFrame({ 'A': [1,2,3,4], 
                   'B': [10,20,30,40],
                   'C': [20,40,60,80]
                  }, 
                  index=['Row 1', 'Row 2', 'Row 3', 'Row 4'])
df.loc['Row 5'] = df.apply(lambda x:x.sum(), axis=0)
print(df)

        A    B    C
Row 1   1   10   20
Row 2   2   20   40
Row 3   3   30   60
Row 4   4   40   80
Row 5  10  100  200

In [43]:
import pandas as pd
def custom_sum(row):
    return row.sum()
df = pd.DataFrame({ 'A': [1,2,3,4], 
                   'B': [10,20,30,40],
                   'C': [20,40,60,80]
                  }, 
                  index=['Row 1', 'Row 2', 'Row 3', 'Row 4'])
print(df.apply(custom_sum, axis=1, result_type='broadcast'))

         A    B    C
Row 1   31   31   31
Row 2   62   62   62
Row 3   93   93   93
Row 4  124  124  124

In [44]:
def cal_multi_col(row):
    return [row['A'] * 2, row['B'] * 3]
df = pd.DataFrame({ 'A': [1,2,3,4], 
                   'B': [10,20,30,40],
                   'C': [20,40,60,80]
                  }, 
                  index=['Row 1', 'Row 2', 'Row 3', 'Row 4'])
print(df.apply(cal_multi_col, axis=1, result_type='expand'))

       0    1
Row 1  2   30
Row 2  4   60
Row 3  6   90
Row 4  8  120

In [45]:
res = df.apply(cal_multi_col, axis=1, result_type='expand')
df[res.columns] = res
print(df)

       A   B   C  0    1
Row 1  1  10  20  2   30
Row 2  2  20  40  4   60
Row 3  3  30  60  6   90
Row 4  4  40  80  8  120

In [48]:
df = pd.DataFrame({ 'A': [1,2,3,4], 
                   'B': [10,20,30,40],
                   'C': [20,40,60,80]
                  }, 
                  index=['Row 1', 'Row 2', 'Row 3', 'Row 4'])
df['New'] = df.apply(cal_multi_col, axis=1, result_type='reduce')
print(df)

       A   B   C       New
Row 1  1  10  20   [2, 30]
Row 2  2  20  40   [4, 60]
Row 3  3  30  60   [6, 90]
Row 4  4  40  80  [8, 120]

In [50]:
import numpy as np
df = pd.DataFrame({ 'A': [1,2,3,4], 
                   'B': [10,20,30,40],
                   'C': [20,40,60,80]
                  }, 
                  index=['Row 1', 'Row 2', 'Row 3', 'Row 4'])
df.applymap(np.square)

        A     B     C
Row 1   1   100   400
Row 2   4   400  1600
Row 3   9   900  3600
Row 4  16  1600  6400

In [53]:
s = pd.Series(['cat', 'dog', np.nan, 'rabbit'])
print(s)

0       cat
1       dog
2       NaN
3    rabbit
dtype: object

In [55]:
s=s.map({'cat': 'kitten', 'dog': 'puppy'})
print(s)

0    kitten
1     puppy
2       NaN
3       NaN
dtype: object

In [56]:
s.map('I am a {}'.format)

0    I am a kitten
1     I am a puppy
2       I am a nan
3       I am a nan
dtype: object