https://medium.com/@gozdebarin/data-cleaning-handling-missing-values-in-python-pandas-b741c1157f31

In [22]:
import pandas as pd
data=pd.DataFrame(
    {"Age":[4,6,None,7,8,None,9],
     "income":[10000,20000,30000,None,50000,60000,170000],
     "stock_price":[1,None,None,4,5,6,7],
     "temperature":[1,None,None,4,5,6,7]}
)

In [19]:
# Count null values in each column
null_counts = data.isnull().sum()
print(null_counts)

Age            2
income         1
stock price    2
temperature    2
dtype: int64

In [20]:
# Fill null values in 'income' with mean income
mean_income = data['income'].mean()
data['income'].fillna(mean_income, inplace=True)
print(data)

   Age         income  stock price  temperature
0  4.0   10000.000000          1.0          1.0
1  6.0   20000.000000          NaN          NaN
2  NaN   30000.000000          NaN          NaN
3  7.0   56666.666667          4.0          4.0
4  8.0   50000.000000          5.0          5.0
5  NaN   60000.000000          6.0          6.0
6  9.0  170000.000000          7.0          7.0

In [24]:
# Fill null values with forward fill (previous valid value)
data['stock_price'].fillna(method='ffill', inplace=True)
print(data)

   Age    income  stock_price  temperature
0  4.0   10000.0          1.0          1.0
1  6.0   20000.0          1.0          NaN
2  NaN   30000.0          1.0          NaN
3  7.0       NaN          4.0          4.0
4  8.0   50000.0          5.0          5.0
5  NaN   60000.0          6.0          6.0
6  9.0  170000.0          7.0          7.0

In [25]:
print(data)

   Age    income  stock_price  temperature
0  4.0   10000.0          1.0          1.0
1  6.0   20000.0          1.0          NaN
2  NaN   30000.0          1.0          NaN
3  7.0       NaN          4.0          4.0
4  8.0   50000.0          5.0          5.0
5  NaN   60000.0          6.0          6.0
6  9.0  170000.0          7.0          7.0

In [26]:
# Fill null values with backward fill (next valid value)
data['temperature'].fillna(method='bfill', inplace=True)
print(data)

   Age    income  stock_price  temperature
0  4.0   10000.0          1.0          1.0
1  6.0   20000.0          1.0          4.0
2  NaN   30000.0          1.0          4.0
3  7.0       NaN          4.0          4.0
4  8.0   50000.0          5.0          5.0
5  NaN   60000.0          6.0          6.0
6  9.0  170000.0          7.0          7.0

In [30]:
import pandas as pd
data=pd.DataFrame(
    {"Age":[4,6,None,7,8,None,9],
     "income":[10000,20000,30000,None,50000,60000,170000],
     "stock_price":[1,None,None,4,5,6,7],
     "temperature":[1,None,None,4,5,6,7]}
)
print(data)

   Age    income  stock_price  temperature
0  4.0   10000.0          1.0          1.0
1  6.0   20000.0          NaN          NaN
2  NaN   30000.0          NaN          NaN
3  7.0       NaN          4.0          4.0
4  8.0   50000.0          5.0          5.0
5  NaN   60000.0          6.0          6.0
6  9.0  170000.0          7.0          7.0

In [29]:
# Interpolate null values using linear interpolation
data['temperature'].interpolate(method='linear', inplace=True)
print(data)

   Age    income  stock_price  temperature
0  4.0   10000.0          1.0          1.0
1  6.0   20000.0          NaN          2.0
2  NaN   30000.0          NaN          3.0
3  7.0       NaN          4.0          4.0
4  8.0   50000.0          5.0          5.0
5  NaN   60000.0          6.0          6.0
6  9.0  170000.0          7.0          7.0