https://medium.com/practical-pandas/numpy-array-to-pandas-dataframe-3-ways-to-convert-a-numpy-array-to-dataframe-in-python-b5591404e129

In [1]:
import numpy as np
import pandas as pd

C:\Users\biegertm\AppData\Roaming\Python\Python39\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\biegertm\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\masked.py:62: UserWarning: Pandas requires version '1.3.4' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [2]:
arr = np.array([1, 2, 3])

data = pd.DataFrame(arr)
data

   0
0  1
1  2
2  3

In [3]:
arr = np.array([1, 2, 3])

data = pd.DataFrame(arr, columns=["Number"])
data

   Number
0       1
1       2
2       3

In [4]:
arr = np.array([
 [1, 2, 3],
 [4, 5, 6],
 [7, 8, 9]
])

data = pd.DataFrame(arr, columns=["Num 1", "Num 2", "Num 3"])
data

   Num 1  Num 2  Num 3
0      1      2      3
1      4      5      6
2      7      8      9

In [5]:
employees = np.array([
 ["Bob", "Doe", "bdoe@company.com"],
 ["Mark", "Markson", "mmarkson@company.com"],
 ["Jane", "Swift", "jswift@company.com"],
 ["Patrick", "Johnson", "pjohnson@company.com"]
])

data = pd.DataFrame(employees, columns=["First name", "Last name", "Email"])
data

  First name Last name                 Email
0        Bob       Doe      bdoe@company.com
1       Mark   Markson  mmarkson@company.com
2       Jane     Swift    jswift@company.com
3    Patrick   Johnson  pjohnson@company.com

In [6]:
employees = np.array([
    ["Bob", "Doe", "bdoe@company.com"],
    ["Mark", "Markson", "mmarkson@company.com"],
    ["Jane", "Swift", "jswift@company.com"],
    ["Patrick", "Johnson", "pjohnson@company.com"]
])

data = pd.DataFrame.from_records(employees, columns=["First name", "Last name", "Email"])
data

  First name Last name                 Email
0        Bob       Doe      bdoe@company.com
1       Mark   Markson  mmarkson@company.com
2       Jane     Swift    jswift@company.com
3    Patrick   Johnson  pjohnson@company.com

In [7]:
employees = np.array([
 ["Bob", "Doe", "bdoe@company.com"],
 ["Mark", "Markson", "mmarkson@company.com"],
 ["Jane", "Swift", "jswift@company.com"],
 ["Patrick", "Johnson", "pjohnson@company.com"]
])

data = pd.DataFrame(employees, columns=["First name", "Last name", "Email"])
data

  First name Last name                 Email
0        Bob       Doe      bdoe@company.com
1       Mark   Markson  mmarkson@company.com
2       Jane     Swift    jswift@company.com
3    Patrick   Johnson  pjohnson@company.com

In [8]:
years_of_experience = np.array([5, 3, 8, 12])

data["Years of Experience"] = years_of_experience
data

  First name Last name                 Email  Years of Experience
0        Bob       Doe      bdoe@company.com                    5
1       Mark   Markson  mmarkson@company.com                    3
2       Jane     Swift    jswift@company.com                    8
3    Patrick   Johnson  pjohnson@company.com                   12