https://medium.com/geekculture/yes-you-can-easily-scrape-websites-with-pandas-heres-how-f833157781d5

The table numbers are all screwed up relative to the article. This makes sense because the

In [20]:
import pandas as pd
all_tables = pd.read_html("https://en.wikipedia.org/wiki/2022_FIFA_World_Cup")
len(all_tables)

95

In [15]:
type(all_tables)
dir(all_tables)
id(all_tables)
callable(all_tables)

False

In [29]:
#all_tables[9]
#all_tables[16]
all_tables[23]

,Pos,Teamvte,Pld,W,D,L,GF,GA,GD,Pts,Qualification
0,1,Argentina,3,2,0,1,5,2,+3,6,Advanced to knockout stage
1,2,Poland,3,1,1,1,2,2,0,4,Advanced to knockout stage
2,3,Mexico,3,1,1,1,2,3,−1,4,NaN
3,4,Saudi Arabia,3,1,0,2,3,5,−2,3,NaN

In [25]:
alphabet=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
for letter, i in zip(alphabet, range(11, 67, 7)):
    print(letter, i)

A 11
B 18
C 25
D 32
E 39
F 46
G 53
H 60

In [30]:
dict_tables = {}
for letter, i in zip(alphabet, range(9, 65, 7)):
    df = all_tables[i]
    df.rename(columns={df.columns[1]: 'Team'}, inplace=True)
    df.pop('Qualification')
    dict_tables[f'Group {letter}'] = df

In [31]:
dict_tables.keys()

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F', 'Group G', 'Group H'])

In [34]:
dict_tables

{'Group A':    Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
 0    1  Netherlands    3  2  1  0   5   1  +4    7
 1    2      Senegal    3  2  0  1   5   4  +1    6
 2    3      Ecuador    3  1  1  1   4   3  +1    4
 3    4    Qatar (H)    3  0  0  3   1   7  −6    0,
 'Group B':    Pos           Team  Pld  W  D  L  GF  GA  GD  Pts
 0    1        England    3  2  1  0   9   2  +7    7
 1    2  United States    3  1  2  0   2   1  +1    5
 2    3           Iran    3  1  0  2   4   7  −3    3
 3    4          Wales    3  0  1  2   1   6  −5    1,
 'Group C':    Pos          Team  Pld  W  D  L  GF  GA  GD  Pts
 0    1     Argentina    3  2  0  1   5   2  +3    6
 1    2        Poland    3  1  1  1   2   2   0    4
 2    3        Mexico    3  1  1  1   2   3  −1    4
 3    4  Saudi Arabia    3  1  0  2   3   5  −2    3,
 'Group D':    Pos       Team  Pld  W  D  L  GF  GA  GD  Pts
 0    1     France    3  2  0  1   6   3  +3    6
 1    2  Australia    3  2  0  1   3   4  −1    6
 2    3    Tunisia    3  1  1  1   1   1   0    4
 3    4    Denmark    3  0  1  2   1   3  −2    1,
 'Group E':    Pos        Team  Pld  W  D  L  GF  GA  GD  Pts
 0    1       Japan    3  2  0  1   4   3  +1    6
 1    2       Spain    3  1  1  1   9   3  +6    4
 2    3     Germany    3  1  1  1   6   5  +1    4
 3    4  Costa Rica    3  1  0  2   3  11  −8    3,
 'Group F':    Pos     Team  Pld  W  D  L  GF  GA  GD  Pts
 0    1  Morocco    3  2  1  0   4   1  +3    7
 1    2  Croatia    3  1  2  0   4   1  +3    5
 2    3  Belgium    3  1  1  1   1   2  −1    4
 3    4   Canada    3  0  0  3   2   7  −5    0,
 'Group G':    Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
 0    1       Brazil    3  2  0  1   3   1  +2    6
 1    2  Switzerland    3  2  0  1   4   3  +1    6
 2    3     Cameroon    3  1  1  1   4   4   0    4
 3    4       Serbia    3  0  1  2   5   8  −3    1,
 'Group H':    Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
 0    1     Portugal    3  2  0  1   6   4  +2    6
 1    2  South Korea    3  1  1  1   4   4   0    4
 2    3      Uruguay    3  1  1  1   2   2   0    4
 3    4        Ghana    3  1  0  2   5   7  −2    3}

In [35]:
dict_tables['Group H']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    3  2  0  1   6   4  +2    6
1    2  South Korea    3  1  1  1   4   4   0    4
2    3      Uruguay    3  1  1  1   2   2   0    4
3    4        Ghana    3  1  0  2   5   7  −2    3