https://python.plainenglish.io/python-pandas-library-basics-and-examples-95fd7d5f2b54

In [1]:
import pandas as pd

# Creating a Pandas Series
s = pd.Series([10, 77, 12, 4, 5])
print("Pandas Series:")
print(s)
print("Index:", s.index)
print("Data type:", s.dtype)
print("Size:", s.size)
print("Values:", s.values)
print("First few elements:")
print(s.head(3))
print("Last few elements:")
print(s.tail(3))

Pandas Series:
0    10
1    77
2    12
3     4
4     5
dtype: int64
Index: RangeIndex(start=0, stop=5, step=1)
Data type: int64
Size: 5
Values: [10 77 12  4  5]
First few elements:
0    10
1    77
2    12
dtype: int64
Last few elements:
2    12
3     4
4     5
dtype: int64

In [ ]:
# Reading data from a CSV file into a DataFrame
df = pd.read_csv("/path/to/your/file.csv")
print("DataFrame head:")
print(df.head())

In [2]:
import seaborn as sns

# Loading a sample dataset (Titanic dataset)
df = sns.load_dataset("titanic")

# Quick look at the DataFrame
print("DataFrame head:")
print(df.head())

# Retrieving DataFrame information
print("DataFrame info:")
print(df.info())

# Statistical summary of the DataFrame
print("Statistical summary:")
print(df.describe())

# Counting non-NA values in each column
print("Count of non-NA values:")
print(df.count())

# Checking for null values
print("Number of null values:")
print(df.isnull().sum())

# Checking if there are any null values
print("Any null values?")
print(df.isnull().values.any())

# Describing DataFrame columns, shape, and index
print("DataFrame columns:")
print(df.columns)
print("DataFrame shape:")
print(df.shape)
print("DataFrame index:")
print(df.index)

# Accessing a specific column
print("Accessing a specific column:")
print(df["Name"].head())

# Counting unique values in a column
print("Count unique values in a column:")
print(df["Gender"].value_counts())

DataFrame head:
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None
Statistical summary:
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200
Count of non-NA values:
survived       891
pclass         891
sex            891
age            714
sibsp          891
parch          891
fare           891
embarked       889
class          891
who            891
adult_male     891
deck           203
embark_town    889
alive          891
alone          891
dtype: int64
Number of null values:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
Any null values?
True
DataFrame columns:
Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
DataFrame shape:
(891, 15)
DataFrame index:
RangeIndex(start=0, stop=891, step=1)
Accessing a specific column:

KeyError: 'Name'

In [3]:
# Selecting rows by index range
print("Selecting rows by index range:")
print(df[0:13])

# Dropping rows by index
print("Dropping rows by index:")
print(df.drop(2, axis=0).head())

# Dropping multiple rows by index
delete_indexes = [1, 3, 5, 7]
print("Dropping multiple rows by index:")
print(df.drop(delete_indexes, axis=0).head(10))

# Dropping a column
print("Dropping a column:")
print(df.drop(["deck"], axis=1).head())
# Or
print(df.drop(["deck"], axis=1, inplace=True).head())

# Note: To make changes permanent, use inplace=True parameter or reassign the DataFrame.

Selecting rows by index range:
    survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0          0       3    male  22.0      1      0   7.2500        S   Third
1          1       1  female  38.0      1      0  71.2833        C   First
2          1       3  female  26.0      0      0   7.9250        S   Third
3          1       1  female  35.0      1      0  53.1000        S   First
4          0       3    male  35.0      0      0   8.0500        S   Third
5          0       3    male   NaN      0      0   8.4583        Q   Third
6          0       1    male  54.0      0      0  51.8625        S   First
7          0       3    male   2.0      3      1  21.0750        S   Third
8          1       3  female  27.0      0      2  11.1333        S   Third
9          1       2  female  14.0      1      0  30.0708        C  Second
10         1       3  female   4.0      1      1  16.7000        S   Third
11         1       1  female  58.0      0      0  26.5500        S   First
12         0       3    male  20.0      0      0   8.0500        S   Third

      who  adult_male deck  embark_town alive  alone
0     man        True  NaN  Southampton    no  False
1   woman       False    C    Cherbourg   yes  False
2   woman       False  NaN  Southampton   yes   True
3   woman       False    C  Southampton   yes  False
4     man        True  NaN  Southampton    no   True
5     man        True  NaN   Queenstown    no   True
6     man        True    E  Southampton    no   True
7   child       False  NaN  Southampton    no  False
8   woman       False  NaN  Southampton   yes  False
9   child       False  NaN    Cherbourg   yes  False
10  child       False    G  Southampton   yes  False
11  woman       False    C  Southampton   yes   True
12    man        True  NaN  Southampton    no   True
Dropping rows by index:
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third
5         0       3    male   NaN      0      0   8.4583        Q  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
5    man        True  NaN   Queenstown    no   True
Dropping multiple rows by index:
    survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0          0       3    male  22.0      1      0   7.2500        S   Third
2          1       3  female  26.0      0      0   7.9250        S   Third
4          0       3    male  35.0      0      0   8.0500        S   Third
6          0       1    male  54.0      0      0  51.8625        S   First
8          1       3  female  27.0      0      2  11.1333        S   Third
9          1       2  female  14.0      1      0  30.0708        C  Second
10         1       3  female   4.0      1      1  16.7000        S   Third
11         1       1  female  58.0      0      0  26.5500        S   First
12         0       3    male  20.0      0      0   8.0500        S   Third
13         0       3    male  39.0      1      5  31.2750        S   Third

      who  adult_male deck  embark_town alive  alone
0     man        True  NaN  Southampton    no  False
2   woman       False  NaN  Southampton   yes   True
4     man        True  NaN  Southampton    no   True
6     man        True    E  Southampton    no   True
8   woman       False  NaN  Southampton   yes  False
9   child       False  NaN    Cherbourg   yes  False
10  child       False    G  Southampton   yes  False
11  woman       False    C  Southampton   yes   True
12    man        True  NaN  Southampton    no   True
13    man        True  NaN  Southampton    no  False
Dropping a column:
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male  embark_town alive  alone
0    man        True  Southampton    no  False
1  woman       False    Cherbourg   yes  False
2  woman       False  Southampton   yes   True
3  woman       False  Southampton   yes  False
4    man        True  Southampton    no   True

AttributeError: 'NoneType' object has no attribute 'head'