https://towardsdev.com/harness-the-power-of-the-pandas-query-function-2e964331f370

In [2]:
import pandas as pd

# Load data into a DataFrame
#df = pd.read_csv('data.csv')
df = pd.DataFrame({"name":["Mark","Craig","Tim","Pat","Katee"], 
                   "age": [21,22,23,45,60]})

# Use the query function to select rows where the 'age' column is greater than 30
df_filtered = df.query('age > 30')

# View the filtered DataFrame
print(df_filtered)

    name  age
3    Pat   45
4  Katee   60

In [3]:
# Set a variable
min_age = 30

# Use the variable in the query function
df_filtered = df.query('age > @min_age')

# View the filtered DataFrame
print(df_filtered)

    name  age
3    Pat   45
4  Katee   60