https://medium.com/@benhui.ca/the-powerful-functions-in-pandas-you-may-ignore-1-45ddd9476132

In [9]:
import pandas as pd
import numpy as np
df = pd.DataFrame({"name":["Jack","John","Linda"],"gender":["Female","Male","Male"],"age":[31.0,32.0,np.NaN]})

In [10]:
def fill_na(df):
    return df.fillna(0)

def avg_age_by_gender(df):
    return df.groupby('gender').mean()

pipeline=df.pipe(fill_na).pipe(avg_age_by_gender)
pipeline

         age
gender
Female  31.0
Male    16.0

In [11]:

df = pd.DataFrame({"name":["Jack","John","Linda","Jason"],"gender":["Female","Male","Male","Female"],"age":[31.0,32.0,19.0,25.0]})
filter=df['age'].between(20, 32, inclusive=True)
df[filter]

    name  gender   age
0   Jack  Female  31.0
1   John    Male  32.0
3  Jason  Female  25.0

In [12]:
df.describe()

             age
count   4.000000
mean   26.750000
std     6.020797
min    19.000000
25%    23.500000
50%    28.000000
75%    31.250000
max    32.000000

In [13]:
df.describe().T

     count   mean       std   min   25%   50%    75%   max
age    4.0  26.75  6.020797  19.0  23.5  28.0  31.25  32.0

In [14]:
df.describe().transpose()

     count   mean       std   min   25%   50%    75%   max
age    4.0  26.75  6.020797  19.0  23.5  28.0  31.25  32.0

In [15]:

df = pd.DataFrame({"name":["Jack","John","Linda","Jason"],
                   "gender":["Female","Male","Male","Female"],
                   "age":[31.0,32.0,19.0,25.0],
                   "is_student":[True,False,np.NaN,False]})
print(df.dtypes)
df_new=df.convert_dtypes()

name           object
gender         object
age           float64
is_student     object
dtype: object