A simple drill parsing a table from Hyperwar

In [74]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

table_Aircraft = pd.read_html('https://www.ibiblio.org/hyperwar/AAF/StatDigest/aafsd-3.html')

In [251]:
#https://stackoverflow.com/questions/57237193/delete-rows-in-pandas-given-a-regex
#display(table_Aircraft[24])
from datetime import datetime
tbl = table_Aircraft[24]
tblT = tbl.T
x=tblT.iloc[2].str.contains('.*(Germany|Japan|Normandy).*')
tblQ = tblT.loc[:,~x].T
#display(tblQ.iloc[2,:])
#display(tblQ.index)
#display(tblQ.iloc[6,0])
z=tblQ.reset_index(drop=True)
yy = [i[0] for i in z.columns]
z.columns=yy
z=z.replace('-',0).drop('Total',axis=1)
z.rename(columns={'Communi- cations':'Communications','End of Month':'Month','Recon- naissance':'Reconnaissance'}, inplace=True)
z=z.drop([6,19,32,45,58,71],axis=0).reset_index(drop=True)
y2 = [1939]*6+[1940]*12+[1941]*12+[1942]*12+[1943]*12+[1944]*12+[1945]*8
#print(z.to_string())
z['Year']=y2
z['Date']=pd.to_datetime(z['Year'].astype(str)+'-'+z['Month'],format='%Y-%b')
#print(z)
#print(len(y2))
q = pd.melt(z,id_vars=['Date','Month','Year'],var_name='Type',value_name='Value')
q['Value']=q['Value'].astype(float)
#print(q)
v = pd.pivot_table(q,index=['Date'],columns='Type',aggfunc=np.sum,values='Value',fill_value=0)
print(v)
#q.reset_index(['Year','Month'])
#v=q.pivot_table(columns='Type',values='value',aggfunc='sum')
#print(v)
#print(v.dtypes)

Type        Communications  Fighters  Heavy Bombers  Light Bombers
Date
1939-07-01               7       494             16            276  \
1939-08-01               7       492             18            276
1939-09-01               7       489             22            278
1939-10-01               7       490             27            277
1939-11-01               7       498             32            275
...                    ...       ...            ...            ...
1945-04-01            3557     17440          12919           2750
1945-05-01            3601     17725          12718           2844
1945-06-01            3417     17703          12221           3063
1945-07-01            3348     17279          11778           3002
1945-08-01            3433     16799          11065           3079

Type        Medium Bombers  Reconnaissance  Trainers  Transports
Date
1939-07-01             400             356       735         118  \
1939-08-01             414             359       745         129
1939-09-01             428             359       754         136
1939-10-01             446             365       758         137
1939-11-01             458             375       755         136
...                    ...             ...       ...         ...
1945-04-01            6022            2007     13494        9540
1945-05-01            5869            2009     12873        9367
1945-06-01            5576           19990     12581        9473
1945-07-01            5523            1977     10671        9593
1945-08-01            5384            1971      9558        9561

Type        Very Heavy Bombers
Date
1939-07-01                   0
1939-08-01                   0
1939-09-01                   0
1939-10-01                   0
1939-11-01                   0
...                        ...
1945-04-01                1852
1945-05-01                2083
1945-06-01                2374
1945-07-01                2624
1945-08-01                2865

[74 rows x 9 columns]

C:\Users\Mark\AppData\Local\Temp\ipykernel_26852\574558110.py:6: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  x=tblT.iloc[2].str.contains('.*(Germany|Japan|Normandy).*')