A simple drill parsing a table from Hyperwar

In [74]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

table_Aircraft = pd.read_html('https://www.ibiblio.org/hyperwar/AAF/StatDigest/aafsd-3.html')

In [100]:
#https://stackoverflow.com/questions/57237193/delete-rows-in-pandas-given-a-regex
#display(table_Aircraft[24])
tbl = table_Aircraft[24]
tblT = tbl.T
x=tblT.iloc[2].str.contains('.*(Germany|Japan).*')
tblQ = tblT.loc[:,~x].T
#display(tblQ.iloc[2,:])
#display(tblQ.index)
display(tblQ.iloc[6,0])
tblQ.columns

C:\Users\Mark\AppData\Local\Temp\ipykernel_26852\3086613162.py:5: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  x=tblT.iloc[2].str.contains('.*(Germany|Japan).*')

'1940'

MultiIndex([(      'End of Month', '1939'),
            (             'Total', '1939'),
            ('Very Heavy Bombers', '1939'),
            (     'Heavy Bombers', '1939'),
            (    'Medium Bombers', '1939'),
            (     'Light Bombers', '1939'),
            (          'Fighters', '1939'),
            (  'Recon- naissance', '1939'),
            (        'Transports', '1939'),
            (          'Trainers', '1939'),
            (  'Communi- cations', '1939')],
           )