https://medium.com/@shouke.wei/easily-rearrange-the-columns-of-a-pandas-dataframe-a6a097fcfbb5

In [1]:
import pandas as pd

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
cols = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']
df = pd.read_csv(url, header=None, names=cols)

# print original dataframe
print("Original Dataframe")
display(df)

Original Dataframe

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [2]:
df = df.reindex(columns=['sepal_length', 'petal_length', 'sepal_width', 'petal_width', 'class'])
df

     sepal_length  petal_length  sepal_width  petal_width           class
0             5.1           1.4          3.5          0.2     Iris-setosa
1             4.9           1.4          3.0          0.2     Iris-setosa
2             4.7           1.3          3.2          0.2     Iris-setosa
3             4.6           1.5          3.1          0.2     Iris-setosa
4             5.0           1.4          3.6          0.2     Iris-setosa
..            ...           ...          ...          ...             ...
145           6.7           5.2          3.0          2.3  Iris-virginica
146           6.3           5.0          2.5          1.9  Iris-virginica
147           6.5           5.2          3.0          2.0  Iris-virginica
148           6.2           5.4          3.4          2.3  Iris-virginica
149           5.9           5.1          3.0          1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
# extract column 'class' from the DataFrame
column_extract = df.pop('class')
print(df)
# insert column using insert(position,column_name)
# for example, first_column
df.insert(0, 'class', column_extract)
df

     sepal_length  petal_length  sepal_width  petal_width
0             5.1           1.4          3.5          0.2
1             4.9           1.4          3.0          0.2
2             4.7           1.3          3.2          0.2
3             4.6           1.5          3.1          0.2
4             5.0           1.4          3.6          0.2
..            ...           ...          ...          ...
145           6.7           5.2          3.0          2.3
146           6.3           5.0          2.5          1.9
147           6.5           5.2          3.0          2.0
148           6.2           5.4          3.4          2.3
149           5.9           5.1          3.0          1.8

[150 rows x 4 columns]

              class  sepal_length  petal_length  sepal_width  petal_width
0       Iris-setosa           5.1           1.4          3.5          0.2
1       Iris-setosa           4.9           1.4          3.0          0.2
2       Iris-setosa           4.7           1.3          3.2          0.2
3       Iris-setosa           4.6           1.5          3.1          0.2
4       Iris-setosa           5.0           1.4          3.6          0.2
..              ...           ...           ...          ...          ...
145  Iris-virginica           6.7           5.2          3.0          2.3
146  Iris-virginica           6.3           5.0          2.5          1.9
147  Iris-virginica           6.5           5.2          3.0          2.0
148  Iris-virginica           6.2           5.4          3.4          2.3
149  Iris-virginica           5.9           5.1          3.0          1.8

[150 rows x 5 columns]