https://python.plainenglish.io/data-cleaning-removing-duplicates-in-python-pandas-db2c31fc7f5

In [21]:
import pandas as pd
data=pd.DataFrame({"item":[6,5,5,3,2,1],"name":["Mark","Craig","Craig","Tim","Pat","Katee"],"age":[27,25,25,25,23,21]})

In [22]:
print(data)

   item   name  age
0     6   Mark   27
1     5  Craig   25
2     5  Craig   25
3     3    Tim   25
4     2    Pat   23
5     1  Katee   21

In [23]:
# Identify and display all duplicate rows
duplicate_rows = data[data.duplicated(keep=False)]
print(duplicate_rows)

   item   name  age
1     5  Craig   25
2     5  Craig   25

In [24]:
# Identify duplicate rows based on specific columns
duplicate_rows = data[data.duplicated(subset=['name', 'age'], keep=False)]
print(duplicate_rows)

   item   name  age
1     5  Craig   25
2     5  Craig   25

In [25]:
# Remove all duplicate rows
data1 = data.drop_duplicates(keep=False)
print(data1)

   item   name  age
0     6   Mark   27
3     3    Tim   25
4     2    Pat   23
5     1  Katee   21

In [26]:
# Keep the first occurrence of each duplicate row
data2 = data.drop_duplicates(keep='first')
print(data2)

   item   name  age
0     6   Mark   27
1     5  Craig   25
3     3    Tim   25
4     2    Pat   23
5     1  Katee   21

In [28]:
# Keep the last occurrence of each duplicate row
data = data.drop_duplicates(keep='last')
print(data)

   item   name  age
0     6   Mark   27
2     5  Craig   25
3     3    Tim   25
4     2    Pat   23
5     1  Katee   21