https://blog.devgenius.io/how-to-remove-duplicates-in-python-pandas-step-by-step-tutorial-9115ca6ea6a3

In [1]:
import pandas as pd
data = {'name': ['John', 'Peter', 'Sarah', 'Peter'],
        'age': [25, 36, 29, 36],
        'city': ['New York', 'London', 'Paris', 'London']}
df = pd.DataFrame(data)
print(df)

    name  age      city
0   John   25  New York
1  Peter   36    London
2  Sarah   29     Paris
3  Peter   36    London

In [2]:
duplicates = df.duplicated()
print(duplicates)

0    False
1    False
2    False
3     True
dtype: bool

In [3]:
df.drop_duplicates(subset=['name'], inplace=True)
print(df)

    name  age      city
0   John   25  New York
1  Peter   36    London
2  Sarah   29     Paris