https://medium.com/geekculture/working-with-sets-in-python-850fc3f2774f

In [1]:
# Create a set called motorbikes using curly brackets.
motorbikes = {"Ducati", "Aprilia", "MV Augusta", "Yamaha"}

# Create the same set using the set() function and a list of bikes.
motorbikes = set(["Ducati", "Aprilia", "MV Augusta", "Yamaha"])

print(motorbikes)
{'Ducati', 'Yamaha', 'Aprilia', 'MV Augusta'}

{'Yamaha', 'Ducati', 'MV Augusta', 'Aprilia'}

{'Aprilia', 'Ducati', 'MV Augusta', 'Yamaha'}

In [2]:
# Create a set with duplicate values

motorbikes = {"Ducati", "Aprilia", "MV Augusta", "Aprilia", "Yamaha"}
print(motorbikes)
{'Yamaha', 'MV Augusta', 'Aprilia', 'Ducati'}

{'Ducati', 'MV Augusta', 'Yamaha', 'Aprilia'}

{'Aprilia', 'Ducati', 'MV Augusta', 'Yamaha'}

In [3]:
# Create a set with mixed data types

mixed = {93, "Ducati", 41, "Aprilia", 20, "Yamaha"}
print(mixed)
{'Aprilia', 'Yamaha', 41, 20, 'Ducati', 93}

{20, 'Yamaha', 'Ducati', 41, 'Aprilia', 93}

{20, 41, 93, 'Aprilia', 'Ducati', 'Yamaha'}

In [4]:
# Determine the number of elements in motorbikes
len(motorbikes)

4

In [5]:
# Add Honda to motorbikes

motorbikes.add("Honda")
print(motorbikes)
{'Aprilia', 'Ducati', 'Honda', 'MV Augusta', 'Yamaha'}

{'Honda', 'Yamaha', 'Aprilia', 'Ducati', 'MV Augusta'}

{'Aprilia', 'Ducati', 'Honda', 'MV Augusta', 'Yamaha'}

In [7]:
# Remove Honda from motorbikes.

motorbikes.remove("Honda")
print(motorbikes)
{'Aprilia', 'Ducati', 'MV Augusta', 'Yamaha'}

{'Yamaha', 'Aprilia', 'Ducati', 'MV Augusta'}

{'Aprilia', 'Ducati', 'MV Augusta', 'Yamaha'}

In [8]:
# Remove an element from motorbikes using pop()

motorbikes.pop()
'MV Augusta'

motorbikes
{'Aprilia', 'Ducati', 'Yamaha'}

{'Aprilia', 'Ducati', 'Yamaha'}

In [9]:
A = {1, 3, 2, 5, 6}

B = {2, 4, 5, 8, 9}

In [10]:
# Compute the union between A and B using the union() method.
A = {1, 3, 2, 5, 6}

B = {2, 4, 5, 8, 9}

A.union(B)
{1, 2, 3, 4, 5, 6, 8, 9}

# Now let's use | to compute the union of A and B.

A | B
{1, 2, 3, 4, 5, 6, 8, 9}

{1, 2, 3, 4, 5, 6, 8, 9}

In [11]:
# Update set A with the elements of A or B using the update() method.

A.update(B)
print(A)
{1, 2, 3, 4, 5, 6, 8, 9}

# Now use the |= symbol.

A |= B
print(A)
{1, 2, 3, 4, 5, 6, 8, 9}

{1, 2, 3, 4, 5, 6, 8, 9}
{1, 2, 3, 4, 5, 6, 8, 9}

{1, 2, 3, 4, 5, 6, 8, 9}

In [12]:
# Compute the intersection of sets A and B using the intersection() method.

A = {1, 3, 2, 5, 6}

B = {2, 4, 5, 8, 9}

A.intersection(B)
{2, 5}

# We can compute the intersection of set A and B using the & symbol.

A & B
{2, 5}

{2, 5}

In [13]:
# Use intersection_update() to update set A to contain 
# the intersection of A and B.

A.intersection_update(B)
print(A)
{2, 5}

# Use the &= symbol.

A &= B
print(A)
{2, 5}

{2, 5}
{2, 5}

{2, 5}

In [14]:
# Calculate the difference between A and B

A = {1, 3, 2, 5, 6}

B = {2, 4, 5, 8, 9}

A.difference(B)
print(A)
{1, 3, 6}

# Use the - symbol

A - B 
print(A)
{1, 3, 6}

{1, 2, 3, 5, 6}
{1, 2, 3, 5, 6}

{1, 3, 6}

In [15]:
# Update A to contain the elements in A but not in B.

A.difference_update(B)
print(A)
{1, 3, 6}

# Now use -=.
A -= B
print(A)
{1, 3, 6}

{1, 3, 6}
{1, 3, 6}

{1, 3, 6}

In [17]:
# Return the elements that are in either set A or set B but not in both.

A = {1, 3, 2, 5, 6}

B = {2, 4, 5, 8, 9}

A.symmetric_difference(B)
{1, 3, 4, 6, 8, 9}

# Using ^
A ^ B
print(A)
{1, 3, 4, 6, 8, 9}

{1, 2, 3, 5, 6}

{1, 3, 4, 6, 8, 9}

In [ ]:
# remove all the elements from set a

A = {1, 3, 2, 5, 6}

A.clean()
print(A)
set()

In [18]:
# check if b and c are subsets of a

A = {1, 3, 5, 7, 9}

B = {1, 3, 5}

C = {1, 3, 8}

B.issubset(A)
True

C.issubset(A)
False

False

In [21]:
# Check if A is a superset of B and/or c.

A.issuperset(B)
True
A.issuperset(C)
False

False

In [22]:
# check if a and b are disjointed.

A = {1, 2, 4, 6}

B = {3, 7, 5, 9}

A.isdisjoint(B)
True

# check if A and C are disjointed.

C = {3, 5, 6, 7}

A.isdisjoint(C)
False

False

In [23]:
# Create a frozen set of motorbikes

motorbikes = frozenset(["Ducati", "Aprilia", "MV Augusta", "Yamaha"])
print(motorbikes)
frozenset({'Ducati', 'Yamaha', 'Aprilia', 'MV Augusta'})

frozenset({'Yamaha', 'Ducati', 'MV Augusta', 'Aprilia'})

frozenset({'Aprilia', 'Ducati', 'MV Augusta', 'Yamaha'})

In [25]:
# Remove Yamaha from the motorbikes set using the remove() method.

motorbikes.remove("Yamaha")

AttributeError: 'frozenset' object has no attribute 'remove'