In [1]:
import pandas as pd

In [2]:
tables=pd.read_html("https://en.wikipedia.org/wiki/Roger_Federer")

In [3]:
performance_in_GS=tables[3]
performance_in_GS

,Tournament,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2015,2016,2017,2018,2019,2020,2021,SR,W–L,Win %
0,Australian Open,Q1,3R,3R,4R,4R,W,SF,W,W,...,3R,SF,W,W,4R,SF,A,6 / 21,102–15,87%
1,French Open,1R,4R,QF,1R,1R,3R,SF,F,F,...,QF,A,A,A,SF,A,4R[B],1 / 19,73–17,81%
2,Wimbledon,1R,1R,QF,1R,W,W,W,W,W[A],...,F,SF,W,QF,F,NH,QF,8 / 22,105–14,88%
3,US Open,Q2,3R,4R,4R,4R,W[A],W,W,W,...,F,A,QF,4R,QF,A,A,5 / 19,89–14,86%
4,Win–loss,0–2,7–4,13–4,6–4,13–3,22–1,24–2,27–1,26–1,...,18–4,10–2,18–1,14–2,18–4,5–1,7–1,20 / 81,369–60,86%

In [4]:
gs_finals=tables[4]
gs_finals.head(7)

,Result,Year,Tournament,Surface,Opponent,Score
0,Win,2003,Wimbledon,Grass,Mark Philippoussis,"7–6(7–5), 6–2, 7–6(7–3)"
1,Win,2004,Australian Open,Hard,Marat Safin,"7–6(7–3), 6–4, 6–2"
2,Win,2004,Wimbledon (2),Grass,Andy Roddick,"4–6, 7–5, 7–6(7–3), 6–4"
3,Win,2004,US Open,Hard,Lleyton Hewitt,"6–0, 7–6(7–3), 6–0"
4,Win,2005,Wimbledon (3),Grass,Andy Roddick,"6–2, 7–6(7–2), 6–4"
5,Win,2005,US Open (2),Hard,Andre Agassi,"6–3, 2–6, 7–6(7–1), 6–1"
6,Win,2006,Australian Open (2),Hard,Marcos Baghdatis,"5–7, 7–5, 6–0, 6–2"