https://python.plainenglish.io/data-manipulation-with-python-pandas-sorting-d6b046ec57ca

In [1]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
        'Age': [25, 22, 30, 35, 28],
        'Salary': [50000, 60000, 75000, 80000, 62000]}

df = pd.DataFrame(data)
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   22   60000
2  Charlie   30   75000
3    David   35   80000
4      Eva   28   62000

In [2]:
# Sort by Age in ascending order
df_sorted = df.sort_values('Age')
print(df_sorted)

      Name  Age  Salary
1      Bob   22   60000
0    Alice   25   50000
4      Eva   28   62000
2  Charlie   30   75000
3    David   35   80000

In [3]:
# Sort by Age in descending order
df_sorted_desc = df.sort_values('Age', ascending=False)
print(df_sorted_desc)

      Name  Age  Salary
3    David   35   80000
2  Charlie   30   75000
4      Eva   28   62000
0    Alice   25   50000
1      Bob   22   60000

In [4]:
# Sort by Salary in descending order and then by Age in ascending order
df_sorted_multi = df.sort_values(by=['Salary', 'Age'], ascending=[False, True])
print(df_sorted_multi)

      Name  Age  Salary
3    David   35   80000
2  Charlie   30   75000
4      Eva   28   62000
1      Bob   22   60000
0    Alice   25   50000

In [5]:
# Sort by index in descending order
df_sorted_index = df.sort_index(ascending=False)
print(df_sorted_index)

      Name  Age  Salary
4      Eva   28   62000
3    David   35   80000
2  Charlie   30   75000
1      Bob   22   60000
0    Alice   25   50000

In [6]:
import numpy as np

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
        'Age': [25, 22, np.nan, 35, 28],
        'Salary': [50000, 60000, 75000, 80000, np.nan]}

df_missing = pd.DataFrame(data)

# Sort by Age in ascending order with missing values first
df_sorted_missing = df_missing.sort_values('Age', na_position='first')
print(df_sorted_missing)

      Name   Age   Salary
2  Charlie   NaN  75000.0
1      Bob  22.0  60000.0
0    Alice  25.0  50000.0
4      Eva  28.0      NaN
3    David  35.0  80000.0