https://medium.com/@HeCanThink/tabulate-your-go-to-solution-for-stylish-tables-in-python-35ede5145e28

In [1]:

from tabulate import tabulate
data = [
    ["Alice", 28, "Engineer"],
    ["Bob", 24, "Designer"],
    ["Charlie", 32, "Writer"]
]
headers = ["Name", "Age", "Occupation"]
table = tabulate(data, headers=headers, tablefmt="grid")
print(table)

+---------+-------+--------------+
| Name    |   Age | Occupation   |
+=========+=======+==============+
| Alice   |    28 | Engineer     |
+---------+-------+--------------+
| Bob     |    24 | Designer     |
+---------+-------+--------------+
| Charlie |    32 | Writer       |
+---------+-------+--------------+

In [2]:
import pandas as pd
from tabulate import tabulate
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [28, 24, 32],
    "Occupation": ["Engineer", "Designer", "Writer"]
}
df = pd.DataFrame(data)
table = tabulate(df, headers="keys", tablefmt="grid")
print(table)

+----+---------+-------+--------------+
|    | Name    |   Age | Occupation   |
+====+=========+=======+==============+
|  0 | Alice   |    28 | Engineer     |
+----+---------+-------+--------------+
|  1 | Bob     |    24 | Designer     |
+----+---------+-------+--------------+
|  2 | Charlie |    32 | Writer       |
+----+---------+-------+--------------+

In [3]:
from tabulate import tabulate
data = [
    ["Alice", 28, "Engineer"],
    ["Bob", 24, "Designer"],
    ["Charlie", 32, "Writer"]
]
headers = ["Name", "Age", "Occupation"]
table = tabulate(data, headers=headers, tablefmt="grid", numalign="center")
print(table)

+---------+-------+--------------+
| Name    |  Age  | Occupation   |
+=========+=======+==============+
| Alice   |  28   | Engineer     |
+---------+-------+--------------+
| Bob     |  24   | Designer     |
+---------+-------+--------------+
| Charlie |  32   | Writer       |
+---------+-------+--------------+

In [4]:
from tabulate import tabulate
data = [
    ["Alice", 28, "Engineer"],
    ["Bob", 24, "Designer"],
    ["Charlie", 32, "Writer"]
]
headers = ["Name", "Age", "Occupation"]
table = tabulate(data, headers=headers, tablefmt="html")
print(table)

<table>
<thead>
<tr><th>Name   </th><th style="text-align: right;">  Age</th><th>Occupation  </th></tr>
</thead>
<tbody>
<tr><td>Alice  </td><td style="text-align: right;">   28</td><td>Engineer    </td></tr>
<tr><td>Bob    </td><td style="text-align: right;">   24</td><td>Designer    </td></tr>
<tr><td>Charlie</td><td style="text-align: right;">   32</td><td>Writer      </td></tr>
</tbody>
</table>

In [5]:
from tabulate import tabulate
import pandas as pd
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [28, 24, 32],
    "Occupation": ["Engineer", "Designer", "Writer"]
}
df = pd.DataFrame(data)
# Display the table in a Jupyter Notebook cell
print(tabulate(df, headers="keys", tablefmt="html"))

<table>
<thead>
<tr><th style="text-align: right;">  </th><th>Name   </th><th style="text-align: right;">  Age</th><th>Occupation  </th></tr>
</thead>
<tbody>
<tr><td style="text-align: right;"> 0</td><td>Alice  </td><td style="text-align: right;">   28</td><td>Engineer    </td></tr>
<tr><td style="text-align: right;"> 1</td><td>Bob    </td><td style="text-align: right;">   24</td><td>Designer    </td></tr>
<tr><td style="text-align: right;"> 2</td><td>Charlie</td><td style="text-align: right;">   32</td><td>Writer      </td></tr>
</tbody>
</table>

<table>
<thead>
<tr><th style="text-align: right;">  </th><th>Name   </th><th style="text-align: right;">  Age</th><th>Occupation  </th></tr>
</thead>
<tbody>
<tr><td style="text-align: right;"> 0</td><td>Alice  </td><td style="text-align: right;">   28</td><td>Engineer    </td></tr>
<tr><td style="text-align: right;"> 1</td><td>Bob    </td><td style="text-align: right;">   24</td><td>Designer    </td></tr>
<tr><td style="text-align: right;"> 2</td><td>Charlie</td><td style="text-align: right;">   32</td><td>Writer      </td></tr>
</tbody>
</table>