https://towardsdatascience.com/two-interesting-pandas-data-manipulation-functions-you-need-to-know-5eabd06af56b

In [13]:
import pandas as pd
import numpy as np

# Create random data
Series1 = pd.Series(np.random.randint(0, 100, 10))

# Create DataFrame
df = pd.DataFrame({"Series1": Series1})

# Apply pandas.cut() on the column Series1
df["binned_Series1"] = pd.cut(df["Series1"], bins=5)

In [14]:
df["binned_Series1_defined_binedge"] = pd.cut(df["Series1"],
                                              bins=[0, 10, 15, 40, 65, 100])
print(df)

   Series1 binned_Series1 binned_Series1_defined_binedge
0       79   (76.6, 95.0]                      (65, 100]
1        8  (2.908, 21.4]                        (0, 10]
2       56   (39.8, 58.2]                       (40, 65]
3       80   (76.6, 95.0]                      (65, 100]
4       95   (76.6, 95.0]                      (65, 100]
5       29   (21.4, 39.8]                       (15, 40]
6       25   (21.4, 39.8]                       (15, 40]
7       67   (58.2, 76.6]                      (65, 100]
8       12  (2.908, 21.4]                       (10, 15]
9        3  (2.908, 21.4]                        (0, 10]

In [15]:
df["bin_name"] = pd.cut(df["Series1"],
                        bins=[0, 10, 15, 40, 65, 100],
                        labels=['bin 1', 'bin 2', 'bin 3', 'bin 4', 'bin 5'])
print(df)

   Series1 binned_Series1 binned_Series1_defined_binedge bin_name
0       79   (76.6, 95.0]                      (65, 100]    bin 5
1        8  (2.908, 21.4]                        (0, 10]    bin 1
2       56   (39.8, 58.2]                       (40, 65]    bin 4
3       80   (76.6, 95.0]                      (65, 100]    bin 5
4       95   (76.6, 95.0]                      (65, 100]    bin 5
5       29   (21.4, 39.8]                       (15, 40]    bin 3
6       25   (21.4, 39.8]                       (15, 40]    bin 3
7       67   (58.2, 76.6]                      (65, 100]    bin 5
8       12  (2.908, 21.4]                       (10, 15]    bin 2
9        3  (2.908, 21.4]                        (0, 10]    bin 1

In [16]:
# Create a sample DataFrame as I can not disclose the original data
import random
HHI = [random.random() for i in range(10)]
Brands = ["Brand_1", "Brand_2", "Brand_3", "Brand_4", "Brand_5",
          "Brand_6", "Brand_7", "Brand_8", "Brand_9", "Brand_10"]

df = pd.DataFrame({"brand": Brands, "hhi": HHI})

# Use pandas.cut()
df["binned_hhi"] = pd.cut(df["hhi"], bins=3)
df["brand_bucket"] = pd.cut(df["hhi"], 
                            bins=3, 
                            labels = ["low", "medium", "high"])
df

      brand       hhi       binned_hhi brand_bucket
0   Brand_1  0.385640   (0.318, 0.575]       medium
1   Brand_2  0.229341  (0.0604, 0.318]          low
2   Brand_3  0.683111   (0.575, 0.831]         high
3   Brand_4  0.286338  (0.0604, 0.318]          low
4   Brand_5  0.373767   (0.318, 0.575]       medium
5   Brand_6  0.667105   (0.575, 0.831]         high
6   Brand_7  0.831074   (0.575, 0.831]         high
7   Brand_8  0.831300   (0.575, 0.831]         high
8   Brand_9  0.061126  (0.0604, 0.318]          low
9  Brand_10  0.256052  (0.0604, 0.318]          low

In [17]:
Series1 = pd.Series([17, 47, 35, 6, 6, 16, 78, 14, 79, 98])
df = pd.DataFrame({"Series1": Series1})

df["qcut_Series1"] = pd.qcut(df["Series1"], q=4) # Use qcut()
df["cut_Series1"] = pd.cut(df["Series1"], bins=4) # Use cut()
print(df)

   Series1   qcut_Series1    cut_Series1
0       17   (14.5, 26.0]  (5.908, 29.0]
1       47  (26.0, 70.25]   (29.0, 52.0]
2       35  (26.0, 70.25]   (29.0, 52.0]
3        6  (5.999, 14.5]  (5.908, 29.0]
4        6  (5.999, 14.5]  (5.908, 29.0]
5       16   (14.5, 26.0]  (5.908, 29.0]
6       78  (70.25, 98.0]   (75.0, 98.0]
7       14  (5.999, 14.5]  (5.908, 29.0]
8       79  (70.25, 98.0]   (75.0, 98.0]
9       98  (70.25, 98.0]   (75.0, 98.0]

In [18]:
# Check the data distribution of each bucket when cut() was used
df["cut_Series1"].value_counts()

cut_Series1
(5.908, 29.0]    5
(75.0, 98.0]     3
(29.0, 52.0]     2
(52.0, 75.0]     0
Name: count, dtype: int64

In [19]:
# Check the data distribution of each bucket when qcut() was used
df["qcut_Series1"].value_counts()

qcut_Series1
(5.999, 14.5]    3
(70.25, 98.0]    3
(14.5, 26.0]     2
(26.0, 70.25]    2
Name: count, dtype: int64

In [23]:
# Create a sample DataFrame as I can not disclose the original data
import random
HHI = [random.random() for i in range(10)]
Brands = ["Brand_1", "Brand_2", "Brand_3", "Brand_4", "Brand_5",
          "Brand_6", "Brand_7", "Brand_8", "Brand_9", "Brand_10"]

df = pd.DataFrame({"brand": Brands, "hhi": HHI})
#print(df)
df["binned_hhi_qcut"] = pd.qcut(df["hhi"], q=3)
df["brand_bucket_qcut"] = pd.qcut(df["hhi"], 
                            q=3, 
                            labels = ["low", "medium", "high"])
df

      brand       hhi                binned_hhi_qcut brand_bucket_qcut
0   Brand_1  0.288763  (0.036699999999999997, 0.378]               low
1   Brand_2  0.745979                  (0.561, 0.88]              high
2   Brand_3  0.560790                 (0.378, 0.561]            medium
3   Brand_4  0.771489                  (0.561, 0.88]              high
4   Brand_5  0.037660  (0.036699999999999997, 0.378]               low
5   Brand_6  0.879950                  (0.561, 0.88]              high
6   Brand_7  0.152428  (0.036699999999999997, 0.378]               low
7   Brand_8  0.378472  (0.036699999999999997, 0.378]               low
8   Brand_9  0.559757                 (0.378, 0.561]            medium
9  Brand_10  0.414955                 (0.378, 0.561]            medium