https://python.plainenglish.io/5-useful-pandas-functions-you-might-not-even-know-you-need-85c5c9725c25

In [2]:
import pandas as pd
data = pd.DataFrame([
    ["apple", 2017, 100],
    ["apple", 2018, 200],
    ["apple", 2019, 350],
    ["orange", 2017, 150],
    ["orange", 2018, 200],
    ["orange", 2019, 400],
    ["pear", 2017, 50],
    ["pear", 2018, 250],
    ["pear", 2019, 50]
], columns=["fruit", "year", "production"])

display(data)

    fruit  year  production
0   apple  2017         100
1   apple  2018         200
2   apple  2019         350
3  orange  2017         150
4  orange  2018         200
5  orange  2019         400
6    pear  2017          50
7    pear  2018         250
8    pear  2019          50

In [3]:
pt = data.pivot_table(index="fruit", columns="year", values="production")
display(pt)

year    2017  2018  2019
fruit
apple    100   200   350
orange   150   200   400
pear      50   250    50

In [4]:
pt = data.pivot_table(index="year", columns="fruit", values="production")
print(pt)

fruit  apple  orange  pear
year
2017     100     150    50
2018     200     200   250
2019     350     400    50

In [5]:
import pandas as pd
data = pd.DataFrame([
    ["apple", 4],
    ["orange", 5],
    ["pear", 6]
], columns=["fruit", "price"])

In [6]:
data_transposed = data.transpose()
print(data_transposed)

           0       1     2
fruit  apple  orange  pear
price      4       5     6

In [7]:
data_transposed = data.T
print(data_transposed)

           0       1     2
fruit  apple  orange  pear
price      4       5     6

In [8]:
data = pd.DataFrame([
    ["apple", 4],
    ["orange", 5],
    ["pear", 6]
], columns=["fruit", "price"])

In [9]:
data = data.set_index("fruit")
print(data)

        price
fruit
apple       4
orange      5
pear        6

In [10]:
data = pd.DataFrame([
    [4],
    [5],
    [6]
], columns=["price"], index=["apple", "orange", "pear"])

In [11]:
data = data.reset_index()
print(data)

    index  price
0   apple      4
1  orange      5
2    pear      6

In [12]:
data.columns = ["fruit", "price"]
display(data)

    fruit  price
0   apple      4
1  orange      5
2    pear      6

In [13]:
data = pd.DataFrame([
    ["apple",1,2,3,4,5,6,7,8,9,10],
    ["orange",1,2,3,4,5,6,7,8,9,10],
    ["pear",1,2,3,4,5,6,7,8,9,10],
], 
columns=["index", "A", "B", "C", "D", "E", "F", "G", "H", "I", "J"])

In [14]:
data.columns = ["fruit", "A", "B", "C", "D", "E", "F", "G", "H", "I", "J"]
print(data)

    fruit  A  B  C  D  E  F  G  H  I   J
0   apple  1  2  3  4  5  6  7  8  9  10
1  orange  1  2  3  4  5  6  7  8  9  10
2    pear  1  2  3  4  5  6  7  8  9  10

In [15]:
indexmap = {"index": "fruit"}
data.columns = [indexmap.get(col, col) for col in data.columns]
print(data)

    fruit  A  B  C  D  E  F  G  H  I   J
0   apple  1  2  3  4  5  6  7  8  9  10
1  orange  1  2  3  4  5  6  7  8  9  10
2    pear  1  2  3  4  5  6  7  8  9  10

In [16]:
data = data.rename(columns={"index": "fruit"})
print(data)

    fruit  A  B  C  D  E  F  G  H  I   J
0   apple  1  2  3  4  5  6  7  8  9  10
1  orange  1  2  3  4  5  6  7  8  9  10
2    pear  1  2  3  4  5  6  7  8  9  10