Work on Reading a Complex Excel File
https://stackoverflow.com/questions/26521266/using-pandas-to-pd-read-excel-for-multiple-worksheets-of-the-same-workbook

https://stackoverflow.com/questions/21443963/pandas-multilevel-column-names

In [17]:
import pandas as pd
xls = pd.ExcelFile('Z32H-Charge-Discharge-Curve.xlsx')

In [18]:
# Now you can list all sheets in the file
xls.sheet_names
# ['house', 'house_extra', ...]

['Charge 25 Degree', 'Discharge 0 25 45 degree', 'Sheet2']

In [21]:
# to read just one sheet to dataframe:
xls = pd.read_excel('Z32H-Charge-Discharge-Curve.xlsx',sheet_name=1,skiprows=31,usecols='C:FZ')

In [22]:
display(xls)

,步骤时间,Unnamed: 3,电流/mA,容量/mAh,电压/V,步骤时间.1,Unnamed: 8,电流/mA.1,容量/mAh.1,电压/V.1,...,步骤时间.34,Unnamed: 173,电流/mA.34,容量/mAh.34,电压/V.34,步骤时间.35,Unnamed: 178,电流/mA.35,容量/mAh.35,电压/V.35
0,00:00:00,0.000000,-6.390,0.000,4.3663,00:00:00,0.000000,-6.371,0.000,4.3663,...,00:00:00,0.000000,-6.4,0.00,4.2671,00:00:00,0.000000,-6.40,0.00,4.2677
1,00:00:38,0.633333,-6.390,0.068,4.3548,00:00:54,0.900000,-6.380,0.096,4.3527,...,00:00:59,0.983333,-6.4,0.11,4.2333,00:00:59,0.983333,-6.41,0.11,4.2333
2,00:01:38,1.633333,-6.390,0.175,4.3465,00:01:54,1.900000,-6.377,0.203,4.3452,...,00:01:59,1.983333,-6.4,0.21,4.2122,00:01:59,1.983333,-6.40,0.21,4.2122
3,00:02:38,2.633333,-6.390,0.282,4.3412,00:02:54,2.900000,-6.377,0.309,4.3409,...,00:03:00,3.000000,-6.4,0.32,4.1986,00:03:00,3.000000,-6.40,0.32,4.1992
4,00:03:38,3.633333,-6.399,0.389,4.3359,00:03:55,3.916667,-6.377,0.416,4.3359,...,00:03:59,3.983333,-6.4,0.43,4.1905,00:03:59,3.983333,-6.40,0.43,4.1908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,05:06:38,306.633333,-6.390,32.679,3.1855,05:06:54,306.900000,-6.374,32.623,3.1870,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,05:07:38,307.633333,-6.390,32.786,3.1073,05:07:54,307.900000,-6.377,32.730,3.1055,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,05:08:31,308.516667,-6.399,32.879,2.9998,05:08:45,308.750000,-6.374,32.820,3.0001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
c = [f'{k}-U{j}-Case{i}'  for i in range(1,13) for j in range(1,4) for k in ['Time','Tm','iD','Q','V']]

In [24]:
c

['Time-U1-Case1',
 'Tm-U1-Case1',
 'iD-U1-Case1',
 'Q-U1-Case1',
 'V-U1-Case1',
 'Time-U2-Case1',
 'Tm-U2-Case1',
 'iD-U2-Case1',
 'Q-U2-Case1',
 'V-U2-Case1',
 'Time-U3-Case1',
 'Tm-U3-Case1',
 'iD-U3-Case1',
 'Q-U3-Case1',
 'V-U3-Case1',
 'Time-U1-Case2',
 'Tm-U1-Case2',
 'iD-U1-Case2',
 'Q-U1-Case2',
 'V-U1-Case2',
 'Time-U2-Case2',
 'Tm-U2-Case2',
 'iD-U2-Case2',
 'Q-U2-Case2',
 'V-U2-Case2',
 'Time-U3-Case2',
 'Tm-U3-Case2',
 'iD-U3-Case2',
 'Q-U3-Case2',
 'V-U3-Case2',
 'Time-U1-Case3',
 'Tm-U1-Case3',
 'iD-U1-Case3',
 'Q-U1-Case3',
 'V-U1-Case3',
 'Time-U2-Case3',
 'Tm-U2-Case3',
 'iD-U2-Case3',
 'Q-U2-Case3',
 'V-U2-Case3',
 'Time-U3-Case3',
 'Tm-U3-Case3',
 'iD-U3-Case3',
 'Q-U3-Case3',
 'V-U3-Case3',
 'Time-U1-Case4',
 'Tm-U1-Case4',
 'iD-U1-Case4',
 'Q-U1-Case4',
 'V-U1-Case4',
 'Time-U2-Case4',
 'Tm-U2-Case4',
 'iD-U2-Case4',
 'Q-U2-Case4',
 'V-U2-Case4',
 'Time-U3-Case4',
 'Tm-U3-Case4',
 'iD-U3-Case4',
 'Q-U3-Case4',
 'V-U3-Case4',
 'Time-U1-Case5',
 'Tm-U1-Case5',
 'iD-U1-Case5',
 'Q-U1-Case5',
 'V-U1-Case5',
 'Time-U2-Case5',
 'Tm-U2-Case5',
 'iD-U2-Case5',
 'Q-U2-Case5',
 'V-U2-Case5',
 'Time-U3-Case5',
 'Tm-U3-Case5',
 'iD-U3-Case5',
 'Q-U3-Case5',
 'V-U3-Case5',
 'Time-U1-Case6',
 'Tm-U1-Case6',
 'iD-U1-Case6',
 'Q-U1-Case6',
 'V-U1-Case6',
 'Time-U2-Case6',
 'Tm-U2-Case6',
 'iD-U2-Case6',
 'Q-U2-Case6',
 'V-U2-Case6',
 'Time-U3-Case6',
 'Tm-U3-Case6',
 'iD-U3-Case6',
 'Q-U3-Case6',
 'V-U3-Case6',
 'Time-U1-Case7',
 'Tm-U1-Case7',
 'iD-U1-Case7',
 'Q-U1-Case7',
 'V-U1-Case7',
 'Time-U2-Case7',
 'Tm-U2-Case7',
 'iD-U2-Case7',
 'Q-U2-Case7',
 'V-U2-Case7',
 'Time-U3-Case7',
 'Tm-U3-Case7',
 'iD-U3-Case7',
 'Q-U3-Case7',
 'V-U3-Case7',
 'Time-U1-Case8',
 'Tm-U1-Case8',
 'iD-U1-Case8',
 'Q-U1-Case8',
 'V-U1-Case8',
 'Time-U2-Case8',
 'Tm-U2-Case8',
 'iD-U2-Case8',
 'Q-U2-Case8',
 'V-U2-Case8',
 'Time-U3-Case8',
 'Tm-U3-Case8',
 'iD-U3-Case8',
 'Q-U3-Case8',
 'V-U3-Case8',
 'Time-U1-Case9',
 'Tm-U1-Case9',
 'iD-U1-Case9',
 'Q-U1-Case9',
 'V-U1-Case9',
 'Time-U2-Case9',
 'Tm-U2-Case9',
 'iD-U2-Case9',
 'Q-U2-Case9',
 'V-U2-Case9',
 'Time-U3-Case9',
 'Tm-U3-Case9',
 'iD-U3-Case9',
 'Q-U3-Case9',
 'V-U3-Case9',
 'Time-U1-Case10',
 'Tm-U1-Case10',
 'iD-U1-Case10',
 'Q-U1-Case10',
 'V-U1-Case10',
 'Time-U2-Case10',
 'Tm-U2-Case10',
 'iD-U2-Case10',
 'Q-U2-Case10',
 'V-U2-Case10',
 'Time-U3-Case10',
 'Tm-U3-Case10',
 'iD-U3-Case10',
 'Q-U3-Case10',
 'V-U3-Case10',
 'Time-U1-Case11',
 'Tm-U1-Case11',
 'iD-U1-Case11',
 'Q-U1-Case11',
 'V-U1-Case11',
 'Time-U2-Case11',
 'Tm-U2-Case11',
 'iD-U2-Case11',
 'Q-U2-Case11',
 'V-U2-Case11',
 'Time-U3-Case11',
 'Tm-U3-Case11',
 'iD-U3-Case11',
 'Q-U3-Case11',
 'V-U3-Case11',
 'Time-U1-Case12',
 'Tm-U1-Case12',
 'iD-U1-Case12',
 'Q-U1-Case12',
 'V-U1-Case12',
 'Time-U2-Case12',
 'Tm-U2-Case12',
 'iD-U2-Case12',
 'Q-U2-Case12',
 'V-U2-Case12',
 'Time-U3-Case12',
 'Tm-U3-Case12',
 'iD-U3-Case12',
 'Q-U3-Case12',
 'V-U3-Case12']