In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
df =pd.read_csv("Embark.csv",parse_dates=['Date']).fillna(0).drop('Total',axis=1)

In [30]:
display(df)

,Date,Boston,New York,Hampton Roads,Charleston,New Orleans,Los Angeles,San Francisco,Seattle
0,1941-12-01,0,605,0,0,1084,0,1195,1583
1,1942-01-01,0,9787,0,0,1376,0,697,99
2,1942-02-01,0,108,0,0,2201,0,13,753
3,1942-03-01,1349,6082,0,0,1449,0,2763,427
4,1942-04-01,0,377,0,0,1588,0,2195,513
5,1942-05-01,11,5266,0,0,3464,0,1574,727
6,1942-06-01,416,1979,0,1,2138,0,3302,346
7,1942-07-01,236,5444,0,0,830,0,1299,428
8,1942-08-01,3837,2354,761,0,159,285,1180,860
9,1942-09-01,99,5114,2185,4,104,9,2681,1911
10,1942-10-01,5600,172,377,0,2895,22,2225,756
11,1942-11-01,314,2207,1407,253,437,29,3034,370
12,1942-12-01,2758,3149,1123,221,597,3,3900,3572
13,1943-01-01,512,6581,396,2,2855,361,8514,2014
14,1943-02-01,1087,1229,877,0,1307,580,5572,1508
15,1943-03-01,1204,821,284,0,210,11,9066,2588
16,1943-04-01,624,17820,725,0,3891,0,10633,2555
17,1943-05-01,14180,18485,4715,0,7470,9,12742,1314
18,1943-06-01,8351,10899,4786,0,4467,253,9610,2446
19,1943-07-01,11626,22306,10793,0,1903,338,3888,3326
20,1943-08-01,205,38707,20033,0,1759,871,7766,3465
21,1943-09-01,4215,24133,18030,0,1136,546,11661,7711
22,1943-10-01,343,6493,6711,17,2039,1992,8654,5888
23,1943-11-01,4099,10347,6676,1228,1291,305,7076,8811
24,1943-12-01,883,12283,6729,65,2462,1843,9317,6798
25,1944-01-01,262,5513,5961,1234,4507,1662,4356,8309
26,1944-02-01,260,4590,9695,1,2153,4270,7802,7613
27,1944-03-01,1705,6126,11946,1798,4305,794,10382,12275
28,1944-04-01,592,7015,5936,1259,3135,802,7124,11221
29,1944-05-01,6300,9557,10222,2737,2623,774,8928,8574
30,1944-06-01,6449,11940,19932,1408,4879,190,15388,9865
31,1944-07-01,13602,30605,2613,2599,3468,5961,14064,9814
32,1944-08-01,10848,13396,19959,1660,4629,4755,17625,8627
33,1944-09-01,13537,62885,23716,4352,3808,1760,27232,8956
34,1944-10-01,13810,39249,15342,4510,1934,4254,24345,9730
35,1944-11-01,8794,26166,13669,4430,4996,4361,15669,10399
36,1944-12-01,7223,33748,2388,5424,1341,3688,31367,9637
37,1945-01-01,12580,27357,755,3134,2717,6052,17949,7673
38,1945-02-01,12257,22395,5554,7058,2941,1954,12311,6985
39,1945-03-01,8311,40998,7349,5329,2523,3053,29124,6532
40,1945-04-01,22329,48787,18412,7686,2050,4792,17078,6151
41,1945-05-01,30540,71901,18352,6565,2174,6010,30672,2612
42,1945-06-01,51470,134937,50035,5913,1226,1429,28736,2387
43,1945-07-01,53583,141843,83300,5891,3033,2872,28997,5244
44,1945-08-01,84449,208295,73198,4131,3290,5986,24099,13121

In [31]:
df.dtypes

Date             datetime64[ns]
Boston                    int64
New York                  int64
Hampton Roads             int64
Charleston                int64
New Orleans               int64
Los Angeles               int64
San Francisco             int64
Seattle                   int64
dtype: object