https://towardsdatascience.com/9-pandas-value-counts-tricks-to-improve-your-data-analysis-7980a2b46536

In [3]:
import pandas as pd
df=pd.read_csv("titanic_train.csv")
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [4]:
df['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [5]:
df['Embarked'].value_counts(ascending=True)

Q     77
C    168
S    644
Name: Embarked, dtype: int64

In [6]:
df['Embarked'].value_counts(dropna=False)

S      644
C      168
Q       77
NaN      2
Name: Embarked, dtype: int64

In [7]:
df['Embarked'].value_counts(normalize=True)

S    0.724409
C    0.188976
Q    0.086614
Name: Embarked, dtype: float64

In [8]:
pd.set_option('display.float_format', '{:.2%}'.format)
df['Embarked'].value_counts(normalize = True)
# pd.reset_option('display.float_format').

S   72.44%
C   18.90%
Q    8.66%
Name: Embarked, dtype: float64

In [9]:
df['Embarked'].value_counts(normalize = True).to_frame().style.format('{:.2%}')

In [10]:
df['Fare'].value_counts(bins=3)

(-0.513, 170.776]     871
(170.776, 341.553]     17
(341.553, 512.329]      3
Name: Fare, dtype: int64

In [21]:
personal=pd.DataFrame({"Name":[1,1,1,1,1,1,2,2,2,2,3,4,4,4,4]})
personal["Name"].value_counts()

1    6
4    4
2    4
3    1
Name: Name, dtype: int64

In [22]:
personal["Name"].value_counts(bins=2)
# Equal size bins means the range of each bin is the same

(0.996, 2.5]    10
(2.5, 4.0]       5
Name: Name, dtype: int64

In [23]:
personal["Name"].value_counts(bins=3)

(0.996, 2.0]    10
(3.0, 4.0]       4
(2.0, 3.0]       1
Name: Name, dtype: int64

In [26]:
personal["Name"].value_counts(bins=[-1,1.5,4])

(1.5, 4.0]       9
(-1.001, 1.5]    6
Name: Name, dtype: int64

In [11]:
df['Fare'].value_counts(bins=[-1, 20, 100, 550])

(-1.001, 20.0]    515
(20.0, 100.0]     323
(100.0, 550.0]     53
Name: Fare, dtype: int64

In [12]:
df.groupby('Embarked')['Sex'].value_counts()

Embarked  Sex
C         male       95
          female     73
Q         male       41
          female     36
S         male      441
          female    203
Name: Sex, dtype: int64

In [13]:
df.groupby('Embarked')['Sex'].value_counts().to_frame()

                 Sex
Embarked Sex
C        male     95
         female   73
Q        male     41
         female   36
S        male    441
         female  203

In [14]:
df = pd.DataFrame({
    'num_legs': [2, 4, 4, 6],
    'num_wings': [2, 0, 0, 0]},
    index=['falcon', 'dog', 'cat', 'ant']
)
df.value_counts()

num_legs  num_wings
4         0            2
6         0            1
2         2            1
dtype: int64