https://python.plainenglish.io/5-examples-to-improve-your-data-cleaning-skills-with-python-pandas-2bbefd6a66ac

In [6]:
import pandas as pd
df = pd.read_csv("messy.csv")

In [7]:
df

   Unnamed: 0             Date        Name  Payment        Note
0           0       04/04/2021    doe,john  $100,50    Unhappy!
1           1  april 17th,2021    Doe,Jane   $78.50  ?Satisfied
2           2       2021-08-21  smith,Adam      $65     Neutral
3           3       05/02/2021   Tuck,matt     $120    Unhappy-
4           4       05/12/2021   James,Ben      $92    Neutral0
5           5       2021-10-11         NaN     $100         NaN

In [8]:
df.drop("Unnamed: 0", axis=1, inplace=True)
print(df)

              Date        Name  Payment        Note
0       04/04/2021    doe,john  $100,50    Unhappy!
1  april 17th,2021    Doe,Jane   $78.50  ?Satisfied
2       2021-08-21  smith,Adam      $65     Neutral
3       05/02/2021   Tuck,matt     $120    Unhappy-
4       05/12/2021   James,Ben      $92    Neutral0
5       2021-10-11         NaN     $100         NaN

In [9]:
df["Date"] = df["Date"].astype("datetime64[ns]")

In [10]:
print(df)

        Date        Name  Payment        Note
0 2021-04-04    doe,john  $100,50    Unhappy!
1 2021-04-17    Doe,Jane   $78.50  ?Satisfied
2 2021-08-21  smith,Adam      $65     Neutral
3 2021-05-02   Tuck,matt     $120    Unhappy-
4 2021-05-12   James,Ben      $92    Neutral0
5 2021-10-11         NaN     $100         NaN

In [11]:
df["Name"].str.split(",", expand=True)

       0     1
0    doe  john
1    Doe  Jane
2  smith  Adam
3   Tuck  matt
4  James   Ben
5    NaN   NaN

In [12]:
df["Name"] = (df["Name"].str.split(",", expand=True)[1] + 
              " " + 
              df["Name"].str.split(",", expand=True)[0]
             ).str.lower()

In [13]:
print(df)

        Date        Name  Payment        Note
0 2021-04-04    john doe  $100,50    Unhappy!
1 2021-04-17    jane doe   $78.50  ?Satisfied
2 2021-08-21  adam smith      $65     Neutral
3 2021-05-02   matt tuck     $120    Unhappy-
4 2021-05-12   ben james      $92    Neutral0
5 2021-10-11         NaN     $100         NaN

In [14]:
df["Payment"] = df["Payment"].str[1:].str.replace(",", ".").astype("float")

In [15]:
print(df)

        Date        Name  Payment        Note
0 2021-04-04    john doe    100.5    Unhappy!
1 2021-04-17    jane doe     78.5  ?Satisfied
2 2021-08-21  adam smith     65.0     Neutral
3 2021-05-02   matt tuck    120.0    Unhappy-
4 2021-05-12   ben james     92.0    Neutral0
5 2021-10-11         NaN    100.0         NaN

In [16]:
df["Note"].str.replace('[^a-zA-Z]', '')

0      Unhappy
1    Satisfied
2      Neutral
3      Unhappy
4      Neutral
5          NaN
Name: Note, dtype: object

In [17]:
df["Note"].str.replace('[^a-zA-Z0-9]', '')

0      Unhappy
1    Satisfied
2      Neutral
3      Unhappy
4     Neutral0
5          NaN
Name: Note, dtype: object

In [18]:
df["Note"] = df["Note"].str.replace('[^a-zA-Z]', '').str.lower()

In [19]:
print(df)

        Date        Name  Payment       Note
0 2021-04-04    john doe    100.5    unhappy
1 2021-04-17    jane doe     78.5  satisfied
2 2021-08-21  adam smith     65.0    neutral
3 2021-05-02   matt tuck    120.0    unhappy
4 2021-05-12   ben james     92.0    neutral
5 2021-10-11         NaN    100.0        NaN