In [4]:
import pandas as pd
df=pd.read_csv('Test.csv')
result=df['Population'].max()
print(result)
display(df)

l.400.000.000

   Country      Capital     Population        Area
0  Germany       Berlin     83.783.942     357.021
1   France        Paris     67.081.000     551.695
2    Spain       Madrid     47.431.256     498.511
3    Italy         Rome     60.317.116     301.338
4   Poland       Warsaw     38.383.000     312.685
5   Russia       Moscow    146.748.590  17.098.246
6      USA   Washington    328.239.523   9.833.520
7    China      Beijing  l.400.000.000   9.596.961
8    India        Dheli  1.352.642.280   3.287.263

In [7]:

import numpy as np
dataScientist=[130,132,137]
productManager=[127,140,145]
designer=[118,118,127]
softwareEngineer=[129,131,131]

A=np.array([dataScientist,productManager,designer,softwareEngineer])
B=np.ones((4,1))
B[0]=1.1
C=A * B
print(int(C[0][0]))

143

In [10]:
s1='Ronaldo is better than Messi'
print(s1.find('Ronaldo',5))
print(s1.find('Football'))
print(s1.find('Messi',5,100))

-1
-1
23

In [14]:
import numpy as np
F=np.array([0,1,1,2,3,5,8])
F[::3]=0
print(F)
print(sum(F[:4]))

[0 1 1 0 3 5 0]
2

In [16]:
python=['cool']
p1 =[['cool']]
x=python in p1

print(x)

True

In [17]:
import numpy as np
goals_brazil=np.array([1,2,3,1,2])
goals_germany=np.array([1,0,1,2,0])

br=np.average(goals_brazil)
ge=np.average(goals_germany)
print(br>ge)

True