https://medium.com/@shouke.wei/how-to-easily-read-and-combine-multiple-data-files-with-pandas-a02efcc5753

In [4]:
import pandas as pd

In [5]:
data_list = ['./Data/yellow_tripdata_2019-01.csv',
              './Data/yellow_tripdata_2019-02.csv',       
              './Data/yellow_tripdata_2019-03.csv'
]
data_list

['./Data/yellow_tripdata_2019-01.csv',
 './Data/yellow_tripdata_2019-02.csv',
 './Data/yellow_tripdata_2019-03.csv']

In [6]:
df = pd.concat(map(pd.read_csv, data_list))

df.head()

,VendorID,calendar_todaytpep_pickup_datetime,calendar_todaytpep_dropoff_datetime,grid_3x3passenger_count,grid_3x3trip_distance,vpn_keyRatecodeID,checkstore_and_fwd_flag,vpn_keyPULocationID,vpn_keyDOLocationID,grid_3x3payment_type
0,1,01-01-19,01-01-19,1,1.5,1,N,151,239,1
1,1,01-01-19,01-01-19,1,2.6,1,N,239,246,1
2,2,21-12-18,21-12-18,3,0.0,1,N,236,236,1
3,2,28-11-18,28-11-18,5,0.0,1,N,193,193,2
4,2,28-11-18,28-11-18,5,0.0,2,N,193,193,2

In [7]:
import glob
import pandas as pd

In [8]:
path = './Data'
files = glob.glob(path + "/*.csv")
files

['./Data\\yellow_tripdata_2019-01.csv',
 './Data\\yellow_tripdata_2019-02.csv',
 './Data\\yellow_tripdata_2019-03.csv']

In [9]:
df_list = (pd.read_csv(file) for file in files)

In [10]:
df = pd.concat(df_list, ignore_index=True)
df.head()

,VendorID,calendar_todaytpep_pickup_datetime,calendar_todaytpep_dropoff_datetime,grid_3x3passenger_count,grid_3x3trip_distance,vpn_keyRatecodeID,checkstore_and_fwd_flag,vpn_keyPULocationID,vpn_keyDOLocationID,grid_3x3payment_type
0,1,01-01-19,01-01-19,1,1.5,1,N,151,239,1
1,1,01-01-19,01-01-19,1,2.6,1,N,239,246,1
2,2,21-12-18,21-12-18,3,0.0,1,N,236,236,1
3,2,28-11-18,28-11-18,5,0.0,1,N,193,193,2
4,2,28-11-18,28-11-18,5,0.0,2,N,193,193,2

In [11]:
path = './Data'
df = pd.concat(map(pd.read_csv, glob.glob(path + "/*.csv")))
df.head()

,VendorID,calendar_todaytpep_pickup_datetime,calendar_todaytpep_dropoff_datetime,grid_3x3passenger_count,grid_3x3trip_distance,vpn_keyRatecodeID,checkstore_and_fwd_flag,vpn_keyPULocationID,vpn_keyDOLocationID,grid_3x3payment_type
0,1,01-01-19,01-01-19,1,1.5,1,N,151,239,1
1,1,01-01-19,01-01-19,1,2.6,1,N,239,246,1
2,2,21-12-18,21-12-18,3,0.0,1,N,236,236,1
3,2,28-11-18,28-11-18,5,0.0,1,N,193,193,2
4,2,28-11-18,28-11-18,5,0.0,2,N,193,193,2