https://medium.com/@shouke.wei/convenient-methods-to-add-new-rows-to-dataframe-in-pandas-4bd5df992761

In [1]:
import pandas as pd

iris = pd.read_csv(
    "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",
    header=None,
    names=["sepal_length", "sepal_width", "petal_length", "petal_width", "species"],
)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [2]:
iris1 = iris.copy()
iris1.loc[len(iris)] = [5.1, 3.5, 1.4, 0.2, "setosa"]
iris1.tail()

     sepal_length  sepal_width  petal_length  petal_width         species
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica
150           5.1          3.5           1.4          0.2          setosa

In [3]:
iris2 = iris.copy()

new_row = pd.DataFrame(
    {
        "sepal_length": [5.1],
        "sepal_width": [3.5],
        "petal_length": [1.4],
        "petal_width": [0.2],
        "species": ["setosa"],
    }
)
iris2 = iris.append(new_row, ignore_index=True)

iris2.tail()

C:\Users\Mark\AppData\Local\Temp\ipykernel_22172\2252841237.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  iris2 = iris.append(new_row, ignore_index=True)

     sepal_length  sepal_width  petal_length  petal_width         species
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica
150           5.1          3.5           1.4          0.2          setosa

In [4]:
iris3 = iris.copy()

new_row = pd.DataFrame(
    {
        "sepal_length": [5.1],
        "sepal_width": [3.5],
        "petal_length": [1.4],
        "petal_width": [0.2],
        "species": ["setosa"],
    }
)
iris3 = pd.concat([iris3, new_row], ignore_index=True)

iris3.tail()

     sepal_length  sepal_width  petal_length  petal_width         species
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica
150           5.1          3.5           1.4          0.2          setosa

In [5]:
iris4 = iris.copy()

new_row = pd.DataFrame(
    {
        "sepal_length": [5.1],
        "sepal_width": [3.5],
        "petal_length": [1.4],
        "petal_width": [0.2],
        "species": ["setosa"],
    }
)
iris4 = pd.concat([new_row, iris], ignore_index=True)

iris4.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2       setosa
1           5.1          3.5           1.4          0.2  Iris-setosa
2           4.9          3.0           1.4          0.2  Iris-setosa
3           4.7          3.2           1.3          0.2  Iris-setosa
4           4.6          3.1           1.5          0.2  Iris-setosa

In [6]:
iris5 = iris.copy()

new_row = pd.DataFrame(
    {
        "sepal_length": [5.1],
        "sepal_width": [3.5],
        "petal_length": [1.4],
        "petal_width": [0.2],
        "species": ["setosa"],
    }
)
iris5 = pd.concat([iris.iloc[:2], new_row, iris.iloc[2:]], ignore_index=True)

iris5

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             5.1          3.5           1.4          0.2          setosa
3             4.7          3.2           1.3          0.2     Iris-setosa
4             4.6          3.1           1.5          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
146           6.7          3.0           5.2          2.3  Iris-virginica
147           6.3          2.5           5.0          1.9  Iris-virginica
148           6.5          3.0           5.2          2.0  Iris-virginica
149           6.2          3.4           5.4          2.3  Iris-virginica
150           5.9          3.0           5.1          1.8  Iris-virginica

[151 rows x 5 columns]