https://medium.com/@HalderNilimesh/applied-data-science-for-beginners-how-to-map-values-using-pandas-dataframe-in-python-8054c9ba9347

Make a sample dataset

In [1]:
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "Score": [90, 85, 80, 75, 70]
}

df = pd.DataFrame(data)
print(df)

      Name  Score
0    Alice     90
1      Bob     85
2  Charlie     80
3    David     75
4      Eva     70

In [2]:
grade_map = {
    90: "A",
    80: "B",
    70: "C",
    0: "F"
}

In [3]:
df["Grade"] = df["Score"].replace(grade_map)
print(df)

      Name  Score Grade
0    Alice     90     A
1      Bob     85    85
2  Charlie     80     B
3    David     75    75
4      Eva     70     C

In [5]:
def get_initials(name):
    return name[0].upper()

df["Initials"] = df["Name"].apply(get_initials)
print(df)

      Name  Score Grade Initials
0    Alice     90     A        A
1      Bob     85    85        B
2  Charlie     80     B        C
3    David     75    75        D
4      Eva     70     C        E

In [6]:
pass_fail_map = lambda score: "Pass" if score >= 85 else "Fail"

In [7]:
df["Status"] = df["Score"].apply(pass_fail_map)
print(df)

      Name  Score Grade Initials Status
0    Alice     90     A        A   Pass
1      Bob     85    85        B   Pass
2  Charlie     80     B        C   Fail
3    David     75    75        D   Fail
4      Eva     70     C        E   Fail

In [8]:
gender_lookup = {
    "Alice": "Female",
    "Bob": "Male",
    "Charlie": "Male",
    "David": "Male",
    "Eva": "Female"
}

gender_df = pd.DataFrame(gender_lookup.items(), columns=["Name", "Gender"])

print(gender_df)

      Name  Gender
0    Alice  Female
1      Bob    Male
2  Charlie    Male
3    David    Male
4      Eva  Female

In [9]:
merged_df = pd.merge(df, gender_df, on="Name")
print(merged_df)

      Name  Score Grade Initials Status  Gender
0    Alice     90     A        A   Pass  Female
1      Bob     85    85        B   Pass    Male
2  Charlie     80     B        C   Fail    Male
3    David     75    75        D   Fail    Male
4      Eva     70     C        E   Fail  Female