Group Drill: https://medium.com/@HalderNilimesh/analytics-in-python-how-to-group-rows-using-a-pandas-dataframe-4bc07656f573

In [7]:
import pandas as pd

data = {'name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob'],
        'score': [80, 90, 70, 85, 95],
        'gender': ['F', 'M', 'M', 'F', 'M']}

df = pd.DataFrame(data)

print(df)

      name  score gender
0    Alice     80      F
1      Bob     90      M
2  Charlie     70      M
3    Alice     85      F
4      Bob     95      M

In [8]:
grouped = df.groupby('name')

In [9]:
mean_scores = grouped['score'].mean()
print(mean_scores)

name
Alice      82.5
Bob        92.5
Charlie    70.0
Name: score, dtype: float64

In [10]:
grouped = df.groupby(['name', 'gender'])

In [11]:
mean_scores = grouped['score'].mean()
print(mean_scores)

name     gender
Alice    F         82.5
Bob      M         92.5
Charlie  M         70.0
Name: score, dtype: float64

In [12]:
mean_max_scores = grouped['score'].agg(['mean', 'max'])
print(mean_max_scores)

                mean  max
name    gender
Alice   F       82.5   85
Bob     M       92.5   95
Charlie M       70.0   70

In [13]:
mean_max_scores = grouped.agg({'score': ['mean'], 'gender': ['max']})
print(mean_max_scores)

               score gender
                mean    max
name    gender
Alice   F       82.5      F
Bob     M       92.5      M
Charlie M       70.0      M