https://medium.com/@cihan.evren/8-handy-pandas-tricks-to-improve-your-data-analysis-77eabd00782f

In [1]:
import pandas as pd

df = pd.DataFrame({'Name': ['John', 'Mia', 'Peter'], 'Age': [25, 30, 35]})

def add_one(x):
    return x + 1

df['Age_Plus_One'] = df['Age'].apply(add_one)

print(df)

    Name  Age  Age_Plus_One
0   John   25            26
1    Mia   30            31
2  Peter   35            36

In [2]:
import pandas as pd

df = pd.DataFrame({'Name': ['John', 'Mia', 'Peter', 'John', 'Peter'], 'Age': [25, 30, 35, 40, 45], 'Salary': [50000, 60000, 70000, 80000, 90000]})

grouped_data = df.groupby(['Name']).sum()

print(grouped_data)

       Age  Salary
Name
John    65  130000
Mia     30   60000
Peter   80  160000

In [4]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'Name': ['John', 'Mia', 'Peter', 'John', 'Peter'], 'Age': [25, 30, 35, 40, 45], 'Salary': [50000, 60000, 70000, 80000, 90000]})

pivot_data = df.pivot_table(index=['Name'], values=['Salary'], aggfunc=[np.mean, np.sum])

print(pivot_data)

        mean     sum
      Salary  Salary
Name
John   65000  130000
Mia    60000   60000
Peter  80000  160000

In [5]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['John', 'Mike', 'Lisa'], 'Math': [80, 90, 85], 'Science': [75, 95, 92]}
df = pd.DataFrame(data)

# Transform the wide DataFrame to long format using melt()
df_long = pd.melt(df, id_vars=['Name'], var_name='Subject', value_name='Score')

# Print the long DataFrame
print(df_long)

   Name  Subject  Score
0  John     Math     80
1  Mike     Math     90
2  Lisa     Math     85
3  John  Science     75
4  Mike  Science     95
5  Lisa  Science     92

In [6]:
import pandas as pd

# Create a sample DataFrame
data = {'Gender': ['Male', 'Female', 'Male', 'Female'], 'Race': ['White', 'Black', 'White', 'Black']}
df = pd.DataFrame(data)

# Compute a cross-tabulation of Gender and Race using crosstab()
ct = pd.crosstab(df['Gender'], df['Race'])

# Print the cross-tabulation
print(ct)

Race    Black  White
Gender
Female      2      0
Male        0      2

In [7]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)

# select the second row and third column
value = df.iloc[1, 2]
print(value)

8

In [9]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)

# select the first two rows and all columns
subset = df.iloc[:2, :]
print(subset)

   A  B  C
0  1  4  7
1  2  5  8

In [12]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data, index=['a', 'b', 'c'])

# select all rows with labels 'a' and 'c' and columns with labels 'A' and 'C'
subset = df.loc[['a', 'c'], ['A', 'C']]
print(subset)

   A  C
a  1  7
c  3  9