https://medium.com/dunder-data/selecting-subsets-of-data-in-pandas-6fcd0170be9c

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({"state":["NY","TX","FL","AL","AK","TX","TX"],
                  "color":["blue","green","red","white","gray","black","red"],
                  "food": ["Steak","Lamb","Mango","Apple","Cheese","Melon","Beans"],
                  "age":  [30,2,12,4,32,33,69],
                  "height":[165,70,120,80,180,172,150],
                  "score": [4.6,8.3,9.0,3.3,1.8,9.5,2.2]
                 },
                  index =["Jane","Niko","Aaron","Penelope","Dean","Christina","Cornelia"]
                )
df

          state  color    food  age  height  score
Jane         NY   blue   Steak   30     165    4.6
Niko         TX  green    Lamb    2      70    8.3
Aaron        FL    red   Mango   12     120    9.0
Penelope     AL  white   Apple    4      80    3.3
Dean         AK   gray  Cheese   32     180    1.8
Christina    TX  black   Melon   33     172    9.5
Cornelia     TX    red   Beans   69     150    2.2

In [2]:
 index = df.index
 index
 columns = df.columns
 columns
 values = df.values
 values

array([['NY', 'blue', 'Steak', 30, 165, 4.6],
       ['TX', 'green', 'Lamb', 2, 70, 8.3],
       ['FL', 'red', 'Mango', 12, 120, 9.0],
       ['AL', 'white', 'Apple', 4, 80, 3.3],
       ['AK', 'gray', 'Cheese', 32, 180, 1.8],
       ['TX', 'black', 'Melon', 33, 172, 9.5],
       ['TX', 'red', 'Beans', 69, 150, 2.2]], dtype=object)

In [3]:
df['food']

Jane          Steak
Niko           Lamb
Aaron         Mango
Penelope      Apple
Dean         Cheese
Christina     Melon
Cornelia      Beans
Name: food, dtype: object

In [4]:
df[['color', 'food', 'score']]

           color    food  score
Jane        blue   Steak    4.6
Niko       green    Lamb    8.3
Aaron        red   Mango    9.0
Penelope   white   Apple    3.3
Dean        gray  Cheese    1.8
Christina  black   Melon    9.5
Cornelia     red   Beans    2.2

In [5]:
df[['food']]

             food
Jane        Steak
Niko         Lamb
Aaron       Mango
Penelope    Apple
Dean       Cheese
Christina   Melon
Cornelia    Beans

In [6]:
df[['height', 'color']]

           height  color
Jane          165   blue
Niko           70  green
Aaron         120    red
Penelope       80  white
Dean          180   gray
Christina     172  black
Cornelia      150    red

In [7]:
df['hight']

KeyError: 'hight'

In [ ]:
df.loc['Niko']

In [ ]:
df.loc[['Niko', 'Penelope']]

In [ ]:
df.loc['Niko':'Dean']

In [ ]:
df.loc[:'Aaron']

In [ ]:
df.loc['Dean':]

In [ ]:
df.loc[['Dean', 'Cornelia'], ['age', 'state', 'score']]

In [ ]:
df.loc['Jane', 'age']

In [ ]:
rows = ['Jane', 'Niko', 'Dean', 'Penelope', 'Christina']
cols = ['state', 'age', 'height', 'score']
df.loc[rows, cols]

In [ ]:
df.iloc[3]

In [ ]:
df.iloc[[5, 2, 4]]

In [ ]:
df.iloc[[2,3], [0, 4]]

In [ ]:
df.iloc[0, 2]

In [ ]:
some_list = ['a', 'two', 10, 4, 0, 'asdf', 'mgmt', 434, 99]
some_list[5]

some_list[-1]

some_list[:4]

some_list[3:]

some_list[2:6:3]

In [ ]:
df.reset_index().rename(columns={df.index.name:'name'})
print(df)

In [ ]:
df.set_index("state")

In [ ]:
df = pd.DataFrame({"state":["NY","TX","FL","AL","AK","TX","TX"],
                  "color":["blue","green","red","white","gray","black","red"],
                  "food": ["Steak","Lamb","Mango","Apple","Cheese","Melon","Beans"],
                  "age":  [30,2,12,4,32,33,69],
                  "height":[165,70,120,80,180,172,150],
                  "score": [4.6,8.3,9.0,3.3,1.8,9.5,2.2]
                 },
                  index =["Jane","Niko","Aaron","Penelope","Dean","Christina","Cornelia"]
                )
df

In [8]:
df.reset_index(inplace=True)
df

       index state  color    food  age  height  score
0       Jane    NY   blue   Steak   30     165    4.6
1       Niko    TX  green    Lamb    2      70    8.3
2      Aaron    FL    red   Mango   12     120    9.0
3   Penelope    AL  white   Apple    4      80    3.3
4       Dean    AK   gray  Cheese   32     180    1.8
5  Christina    TX  black   Melon   33     172    9.5
6   Cornelia    TX    red   Beans   69     150    2.2

In [15]:
df.rename(columns={"index":"name"},inplace=True)
df.set_index("name")

          state  color    food  age  height  score
name
Jane         NY   blue   Steak   30     165    4.6
Niko         TX  green    Lamb    2      70    8.3
Aaron        FL    red   Mango   12     120    9.0
Penelope     AL  white   Apple    4      80    3.3
Dean         AK   gray  Cheese   32     180    1.8
Christina    TX  black   Melon   33     172    9.5
Cornelia     TX    red   Beans   69     150    2.2