https://medium.com/@stella96joshua/how-to-combine-multiple-csv-files-using-python-for-your-analysis-a88017c6ff9e

https://www.geeksforgeeks.org/python-pandas-series-combine_first/

In [1]:
#import modules
import os
import glob
import pandas as pd
#list all csv files only
csv_files = glob.glob('Data/*.{}'.format('csv'))
csv_files

['Data\\Test_1.csv', 'Data\\Test_2.csv']

In [2]:
# Let's try the append method
df_append = pd.DataFrame()
#append all files together
for file in csv_files:
            df_temp = pd.read_csv(file)
            df_append = df_append.append(df_temp, ignore_index=True)
df_append

C:\Users\Mark\AppData\Local\Temp\ipykernel_16108\1843741362.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
C:\Users\Mark\AppData\Local\Temp\ipykernel_16108\1843741362.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)

   Mark  Craig  Tim  Pat
0     1      2    3    4
1     5      6    7    8
2     9     10   11   12
3    13     14   15   16

In [3]:
# Let's try concat
df_concat = pd.concat([pd.read_csv(f) for f in csv_files ], ignore_index=True)
df_concat

   Mark  Craig  Tim  Pat
0     1      2    3    4
1     5      6    7    8
2     9     10   11   12
3    13     14   15   16

In [5]:
# Try Merge
#import pandas module
import pandas as pd
#read the csv file into a dataframe
df_sample1 = pd.read_csv("Data/Test_1.csv")
df_sample1

df_sample2 = pd.read_csv("Data/Test_2.csv")
df_sample2

list = ["Mark", "Craig", "Tim", "Pat"]
df_master = df_sample1.merge(df_sample2,
                   on = list, 
                   how = 'outer')
df_master

   Mark  Craig  Tim  Pat
0     1      2    3    4
1     5      6    7    8
2     9     10   11   12
3    13     14   15   16

In [6]:

# I am not sure how I would use this.

# importing pandas module  
import pandas as pd  
    
# importing numpy module 
import numpy as np 
    
# creating series 1 
series1 = pd.Series([70, 5, 0, 225, 1, 16, np.nan, 10, np.nan]) 
    
# creating series 2 
series2 = pd.Series([27, np.nan, 2, 23, 1, 95, 53, 10, 5]) 
  
# combining and returning results to variable
# calling on series1
result1 = series1.combine_first(series2)
  
# calling on series2
result2 = series2.combine_first(series1)
  
# printing result
print('Result 1:\n', result1, '\n\nResult 2:\n', result2)

Result 1:
 0     70.0
1      5.0
2      0.0
3    225.0
4      1.0
5     16.0
6     53.0
7     10.0
8      5.0
dtype: float64

Result 2:
 0    27.0
1     5.0
2     2.0
3    23.0
4     1.0
5    95.0
6    53.0
7    10.0
8     5.0
dtype: float64